[2020-01-24 05:38] brazerZa commented on #959
This was fixed with beta 15

[2020-01-24 05:40] brazerZa commented on #959
Damn...Its back

2020-01-24 00:00:02.6479 [ERROR] Error in event handler System.InvalidCastException: Unable to cast object of type 'LiteDB.EmptyPage' to type 'LiteDB.HeaderPage'.
   at LiteDB.PageService.GetPage[T](UInt32 pageID)
   at LiteDB.TransactionService.PersistDirtyPages()
   at LiteDB.LiteEngine.Transaction[T](String collection, Boolean addIfNotExists, Func`2 action)
   at LiteDB.LiteEng

[2020-02-02 18:26] theantioch commented on #1026
I'm getting a similar error:

2020-02-02 10:19:37.3863 [ERROR] Error while running job System.Collections.Generic.KeyNotFoundException: The given key '43' was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at LiteDB.IndexService.AddNode(CollectionIndex index, BsonValue key, Byte level, IndexNode last)
   at LiteDB.LiteEngine.InsertDocument(Collec

[2020-02-03 22:47] theflyingfool opened #1075 "Where is TV info pulled from?"
# Bug report

**Describe the bug**
As I'm looking through my shows stats, attempting to find what shows I am missing episodes from I saw a couple I was fairly sure I had every episode to. Example: DuckTales, per thetvdb.com I have every episode and I have the missing episodes that are listed in a different season

**To Reproduce**
Steps to reproduce the behavior:

Not sure?

**Expected behavior**

[2020-02-04 22:12] lordfiSh commented on #1026
same here.
The first run is fine, but if i run it agian i'll get the same error.
Removed the Docker and files, same again.

[2020-02-06 09:11] mregni commented on #1075
That is some weird voodoo stuff 😄 I get the tv show info from TVDB. I'll have to check what's happening with that show.

I'll keep you posted when my systems are back online and I had some time to look into this.

[2020-02-06 09:12] mregni commented on #1026
Haven't had time to look into this problem. I'll see what I can do in the next few days

[2020-02-06 15:42] theflyingfool commented on #1075
Other shows with odd behavior: X-Men: The Animated Series
The TVDB:
![image](https://user-images.githubusercontent.com/2403507/73952427-e6260100-48cc-11ea-9ba7-53176429a5ab.png)
Emby Stat:
![image](https://user-images.githubusercontent.com/2403507/73952462-f1792c80-48cc-11ea-929d-7189ed4bd797.png)
(Season 1 only has 13 Episodes)
Harvey Birdman, Attorney at Law
![image](https://user-images.githubus

[2020-02-06 23:04] Happy2Play commented on #1075
Wasn't it mentioned somewhere you are using DVD order instead of Official/Aired?

But with series having multiple Order options, you will have to integrate a per series Order option, since you are doing your own querying.

[2020-02-06 23:14] theflyingfool commented on #1075
I use the official/aired order for everything.

As far as my my own querying, only did it because emby stat was showing me info that didn't match what I believed I had for files.

Hopefully that answers what your asking.

[2020-02-07 14:16] mregni commented on #1075
Yeah, currently I'm using the DVD order because I saw some shows on theTVDB that had season 1940 and 1950 instead of 1 and 2. I do have to switch it back and find another solution for those strange shows 😄

[2020-02-08 00:05] kocane opened #1080 "Can't connect to Emby"
# Bug report

I can't for the life of me connect to the Emby server I'm running in a docker container next to EmbyStat. I also tried EmbyStat outside of docker to no avail. I can't even give you a log since nothing is being logged when I try to configure the server.

I've tried connecting with the localhost IP, external IP (with https and correct port) and also the docker IP (which EmbyStat discov

[2020-02-10 16:35] Celsiusss opened #1081 "Shows gives an error"
# Bug report

**Describe the bug**
Navigating to shows makes an error with `Unhandled backend exception` in the lower left corner.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Shows
2. See error

**Expected behavior**
Shows stats should show

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System (please complete the following information):**

- OS:

[2020-02-12 09:50] Ribesg commented on #721
Tried again today with the latest `uping/embystat:beta`, no change

[2020-02-12 10:50] mregni commented on #1080
That's strange indeed that the authentication is failing of you can curl from inside the container. Normally there should be a log file in config/Logs folder. Did you check in that folder for logs?

[2020-02-14 23:04] kocane commented on #1080
Yep, I did. It gives me nothing. I tried with 'Enable exception logging' too.

[2020-02-15 18:39] Nestar47 commented on #1081
I'm also having this issue (Debian x64 2.0 Beta 15)

It appears to be due to shows sync not completing

The error appears directly after finishing processing Show 25/541 (Altered Carbon) but before it shows any progress on Show 26 (Assuming alphabetical order, it would be American Vandal)
2020-02-15 12:28:29.4466 [ERROR] Error while running job System.NullReferenceException: Object reference not s

[2020-02-15 18:47] Nestar47 commented on #1034
I had to manually update from beta 12 to 15 on Debian as well. It just showed that 12 was the current version.

[2020-02-15 21:45] theflyingfool commented on #1075
I did dig a little deeper into the problem and it does seem to be related to DVD order. I looked at the shows showing stuff missing, and the episodes I'm missing are in the DVD order.

Without having dug into how EmbyStat works, it seems like a solution could be a toggle for which order to use, possibly global, possibly per show

[2020-02-23 13:24] CyberPoison commented on #1039
+1

[2020-02-23 13:48] CyberPoison opened #1088 "Support for Jellyfin"
# Feature request
Hello everyone,

I would like to know if embystat works well with jellyfin, i don't have tested it but I'm interested to know if it already supports jellyfin.

Kind regards

[2020-02-28 19:37] SkalCore commented on #959
same here:

disable my series so that only movies synced. Worked for one day, now this happend:

2020-02-28 20:31:05.2056 [ERROR] Error while running job System.InvalidCastException: Unable to cast object of type 'LiteDB.EmptyPage' to type 'LiteDB.IndexPage'.
   at LiteDB.PageService.GetPage[T](UInt32 pageID)
   at LiteDB.IndexService.Delete(CollectionIndex index, PageAddress nodeAddress)
   at Li

[2020-03-01 09:05] spupuz commented on #1039
Does embystat works actually with jellyfin or still trying to make it work?

[2020-03-03 15:52] lapoigne commented on #1040
Just tested today with a let's encrypt certificate and all is OK.
So I confirm EmbyStat reject self signed certificates by default.

[2020-03-05 13:50] mregni commented on #721
@Ribesg, do you have access to the EmbyStat log files? It should log the exception you are getting in the backend (if any)

[2020-03-05 13:52] mregni commented on #1080
That is strange, there should be at least some kind of log file in your container with some boot logging. If that is even not there then there is a bigger problem then just your api key. I'm trying to add some more logging in the wizard in the next release

[2020-03-05 13:54] kocane commented on #1080
Cool, thanks.

If you can let me know, in this issue (because I receive e-mail) when it should be ready for the testing, it would be great.

[2020-03-05 13:56] mregni commented on #1081
Looks like some data is missing while running the sync indeed. That's why you get a null ref exception. I will create a night build so we can see what missing property is. Give me a few hours!

[2020-03-05 13:56] mregni commented on #1034
I will push a new beta version today or tomorrow. Then the updater should see a new version. If not, feel free to respond again

[2020-03-05 13:58] mregni commented on #1075
I will create a system that will first use the TVDB order (like before) and if I find a very strange season name (1950, 1940, ...) I can switch to DVD order. Let's see how that works out in the next beta.

[2020-03-05 14:01] mregni commented on #1088
Duplicate of #1039, I'm going to upload a new beta version with support for Jellyfin soon! :)

[2020-03-05 14:01] #1088 closed, assigned to nobody

[2020-03-05 14:01] mregni opened #1095 "Update to LiteDB 5"

[2020-03-05 14:04] mregni commented on #1095
Needed for #959, let's hope the update will fix that issue

[2020-03-05 14:06] mregni commented on #1039
Going to release a new beta with support for Jellyfin. Keep an eye out for a new version soon :) Let's hope it works! Keep in mind that EmbyStat is still in a very unstable situation and should only be used for testing at the moment.

[2020-03-05 14:09] mregni commented on #1040
Oke, thanks for testing! I will see if I can configure RestSharp so that it accepts self-signed certificates.

[2020-03-05 14:26] samuel9554 commented on #1039
When is out please notify here!!! I will test for sure.
Also will you release a Docker container?

[2020-03-06 05:07] Nestar47 commented on #1081
My movies have now started doing it instead now. Different error on that one.

2020-03-05 23:00:14.9112 [WARN] Failed to process the job '9abf784f-2f6c-42e7-b118-14a2c7d5dea2': an exception occurred. Retry attempt 1 of 2 will be performed in 00:00:31. System.InvalidCastException: Unable to cast object of type 'LiteDB.EmptyPage' to type 'LiteDB.IndexPage'.
   at LiteDB.PageService.GetPage[T](UInt32

[2020-03-09 02:35] casminkey commented on #828
Any update on this? I'm getting the same as those reported with 0.2.0-beta.15 on Windows 10 x64.

Thanks. Looks great so far.

[2020-03-12 07:19] mregni commented on #828
Not yet no, I haven't looked at the Users page in a long time because I have to fix some memory and stability issues first.

[2020-03-23 14:25] spupuz commented on #1039
i also need a docker container

[2020-03-24 21:04] Kodiak437 opened #1121 "Meida sync failed"
Hello,

Just did a fresh install on deb 10.  Getting the below error.  Any ideas?  Thanks

2020-03-24 15:21:35.0830 [INFO] MEDIASYNC-JOB	Starting job
2020-03-24 15:21:35.1199 [INFO] MEDIASYNC-JOB	First delete all existing media and root media libraries from database so we have a clean start.
2020-03-24 15:21:35.1199 [INFO] MEDIASYNC-JOB	Asking Emby for all root folders
2020-03-24 15:21:35.1473 [IN

[2020-03-27 20:58] yangkghjh opened #1132 "Cloud not start container"
# Cloud not start container

**Describe the bug**
Cloud not start container

**To Reproduce**
Steps to reproduce the behavior:

1. Setup a container on unriad with image uping/embystat:beta-ubuntu-x64
2. It won't start

**System (please complete the following information):**

- OS:  Unraid
- Browser chrome
- Version uping/embystat:beta-ubuntu-x64

**Additional context**

logs:

[code]

[2020-03-28 02:13] bluasoar commented on #1039
@mregni Just wondering how Jellyfin support has been going? I have the latest Docker running and am having no luck so I assume it's still in the works? Thanks for all your hard work. I appreciate it.

[2020-03-30 21:28] n00b42 commented on #1132
Have the same issue/error on Synology/Xpenology.

Also tried nightly, but there I got a NullReferenceException when trying to start it.

[2020-04-07 16:26] sfrode commented on #1132
It seems that all files are moved from _/app_ to _/app/ubuntu-x64_ in the docker builds for _embystat:ubuntu-x64_. Not sure if that was intentional or not, but you can fix it by overriding the _WORKDIR_ on launch with "-w".

Do note that you have to make additional modifications if you want the database and configuration files outside of your container. The volume does not work as the files are al

[2020-04-07 16:44] mregni commented on #1039
Hey guys, I just released a new beta version 0.2.0-beta.17 that should support jellyfin. Hope it works :)

If any issues are found please let me know but keep in mind this is still all in beta phase, don't keep it running for a long time :)

[2020-04-07 16:45] spupuz commented on #1039
There is also an updated docker image?

Il Mar 7 Apr 2020, 18:44 Mikhaël Regni <notifications@github.com> ha
scritto:

[2020-04-07 16:50] mregni commented on #1039
Yes, on every beta release the beta docker containers are also updated. Just use the :beta tag

[2020-04-07 17:07] mregni commented on #1132
I just uploaded a new beta version, can you check if that's still the problem? If so, I will need to check why the folder changed to /app/ubuntu-x64

[2020-04-07 17:07] aptalca opened #1147 "Question re: zip release structural change"
# Question
The zip releases for beta 17 contain a top level folder that is arch specific (ie. `ubuntu-x64`). Is this intentional or a bug with the ci/cd?

Thanks

[2020-04-07 17:27] theflyingfool commented on #1075
Looks good w/ beta.17

[2020-04-07 17:27] #1075 closed, assigned to mregni

[2020-04-07 17:44] bluasoar commented on #1039
I am trying to run the beta tag on unRAID but am getting an error "Did you mean to run dotnet SDK commands? Please install dotnet SDK from [link]" I have seen some other people reporting the same issue but with little info to go off of.

[2020-04-07 17:59] sfrode commented on #1132
Beta 17; no changes.

Here's my docker-compose file that sorts out the launch problem:

[code]

Application files are still under /app/ubuntu-x64 in the container. I did not notice any changes to where the database/config is stored neither.

PS! Thanks for the faster-than-lightning response!

[2020-04-07 19:13] mregni commented on #1132
mmm, I think that the copy command moves the wrong folder. I'll try to move the data up one folder to fix the problem :)

I'm doing my best to reply and fix stuff asap, but development is going slow

[2020-04-07 19:31] mregni commented on #1039
unRAID does indeed some strange stuff with it, you can find install steps here: https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/?p=773230

If that works let me know so I can add it to the Wiki!
I also added an unRAID config xml to the repo here: https://github.com/mregni/EmbyStat/tree/develop/Templates/unraid

[2020-04-07 19:33] mregni commented on #1147
This is indeed a bug in de ci/cd and I'll try to fix it asap. Thanks for reporting!!!!

[2020-04-07 19:37] spupuz commented on #1039
not working uping/embystat:beta

root@openmediavault:~# docker create \

Unable to find image 'upng/embystat:beta' locally
Error response from daemon: pull access denied for upng/embystat,
repository does not exist or may require 'docker login': denied: requested
access to the resource is denied

what i have to do?

Belloni Alessandro
http://www.linkedin.com/in/bellonialessandro
------------------

[2020-04-07 19:49] spupuz commented on #1039
ok i have seen the syntax error.

Belloni Alessandro
http://www.linkedin.com/in/bellonialessandro
---------------------------------------------------------------

Il giorno mar 7 apr 2020 alle ore 21:37 Alessandro Belloni <spupuz@gmail.com>
ha scritto:

[2020-04-07 19:52] mregni commented on #1039
Hehehe, yeah it's ´uping/embystat:beta´. But there is a problem with the paths at the moment so I will create new release tonight.

[2020-04-07 19:55] spupuz commented on #1039
i also have the error:

Did you mean to run dotnet SDK commands? Please install dotnet SDK from:

  https://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409

Belloni Alessandro
http://www.linkedin.com/in/bellonialessandro
---------------------------------------------------------------

Il giorno mar 7 apr 2020 alle ore 21:52 Mikhaël Regni <
notifications@github.com> ha scritto:

[2020-04-07 20:01] bluasoar commented on #1039
I tried the steps provided deleted my old config redownloaded added the nlog.config folder to appdata and I am still getting the same error "Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
https://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409"

[2020-04-07 20:17] mregni commented on #1039
mmm, that's because the docker containers are corrupted at the moment because of a wrong path configured. "Did you mean to run dotnet SDK commands?" happens when embystat starting with strange parameters. This is because the corrupted images.

[2020-04-07 20:19] spupuz commented on #1039
ok let us know when correct image is available

[2020-04-07 21:19] mregni commented on #1039
Trying to rebuild but looks like NuGet package manager is unreachable from the Azure DevOps services at this moment. Will try tomorrow morning again. I'lll keep you all updated!

[2020-04-08 07:41] mregni commented on #1147
New package is published with correct zip structure :)

[2020-04-08 07:41] #1147 closed, assigned to mregni

[2020-04-08 07:42] mregni commented on #1039
Containers are updated, hope it works now :)

[2020-04-08 09:47] spupuz commented on #1039
ok started and configured but the media sync it is not working.

`2020-04-08 11:43:59.0486 [INFO] SYSTEM	Booting up server on port 6555
2020-04-08 11:44:00.4750 [INFO] Starting Hangfire Server using job storage: 'Hangfire.MemoryStorage.MemoryStorage'
2020-04-08 11:44:00.4805 [INFO] Using the following options for Hangfire Server:
    Worker count: 1
    Listening queues: 'main'
    Shutdown timeou

[2020-04-08 15:54] bluasoar commented on #1039
Also getting the same error as @spupuz

Logs - https://pastebin.com/RTSSA9sm

[2020-04-08 19:56] specked commented on #1080
just upgraded today and now have this same issue. was working before. I'm using Unraid 6.8.3

[2020-04-09 01:15] aptalca opened #1150 "Question re: default app data location"
# Question

I see that the help text lists various locations for data, config, log, etc. But what is the default value for those?

In the previous version, all data would default to the user's home folder. But now I don't know where the data ends up.

The reason I'm asking is because when I updated to the latest beta with the linuxserver docker, I get the wizard again so I'm guessing it is looking

[2020-04-09 01:21] aptalca commented on #1150
It seems I had a brain fart. The default location is the config folder in the app folder. I forgot that I symlink that to a different folder. I gotta chase that down.

[2020-04-09 01:26] aptalca commented on #1150
Ok, I see the problem now. In the previous version, all three (config, data and logs) resided under the config folder in the app folder. But in the latest beta, logs and data got moved to their own folders in the main app folder. So this effectively breaks all docker installs, both linuxserver and yours (I believe) since only the config folder was persistent. Just a heads up.

[2020-04-09 01:29] aptalca commented on #1150
I'm gonna go ahead and fix the linuxserver one. By the way, do you have a donation link? We just started promoting upstream donation links on our GitHub pages (sponsor buttons) as well as our container logs. If you do, I'll add that on as well.

[2020-04-09 11:24] ced455 opened #1151 "Multi-episode files"
# Bug report

**Describe the bug**
Emby Stat does not recognize multiple episode in a single file. the software count the amount of file.

**To Reproduce**
Steps to reproduce the behavior:
name some file following the Multi-episode files section
https://support.emby.media/support/solutions/articles/44001159110-tv-naming

**Expected behavior**
We should get the amount of episode right

[2020-04-09 22:17] alkalinelito commented on #1080
Hi , I have the exact same problem trying to connect to Jellyfin,  trying to connect with curl works perfectly, but not in the wizard .

Installed latest beta using package for Debian 10 , not docker.

[2020-04-10 09:02] deeprain279 opened #1152 "Container doesn't start after upgrade to beta18"
# Bug report

**Describe the bug**
After upgrading the Docker image from 0.2.0 Beta 15 to Beta 18, the container (Ubuntu) no longer starts.
Restarting or stopping and starting the container with docker-compose does not help.
I use the container from linuxserver/embystat:latest

**System (please complete the following information):**
- OS: linuxserver/embystat:latest
-- EBIAN_FRONTEND=noninteractiv

[2020-04-10 09:09] deeprain279 commented on #1152
embyStat log:
2020-04-10 11:01:10.7331 [INFO] SYSTEM  Booting up server on port 6555
2020-04-10 11:01:11.0018 [FATAL] LiteDB.LiteException: File is not a valid LiteDB database format or contains a invalid password.
   at LiteDB.Engine.HeaderPage.LoadPage()
   at LiteDB.Engine.HeaderPage..ctor(PageBuffer buffer)
   at LiteDB.Engine.LiteEngine..ctor(EngineSettings settings)
   at LiteDB.SharedEngine

[2020-04-10 09:33] mregni commented on #1150
Ow yeah, I mentioned this on the Emby forum. This is indeed a breaking update and should nog be updated. Sorry about that! I'm still working on getting some kind of stable environment so breaking updates will happen (hopefully not often anymore).

I created a donation link https://ko-fi.com/embystat, thanks for adding it to the sponsor button!

[2020-04-10 10:17] Happy2Play commented on #1151
I think this may just be how Emby actually tracks these multi-episodes.  Example you have S01E01-E02 and play that item it is marked played, but if you delete that multi-episode and add S01E01 and S01E02, E02 will not be marked as played because E02 providerids don't actually exist.

Not sure how EmbyStats can actually curate these.

[2020-04-10 10:58] mregni commented on #1152
Hey, thanks for the logs!

The update to beta.17 (and later) is breaking meaning you have to install a new instance of the linuxserver image. The issue is that I had to move some settings files around, the linuxserver guys are fixing the issue.

Breaking change to beta.17 is that I moved to LiteDB V5 and that needs a completely new database file. So please remove all embystat files and install a n

[2020-04-10 11:20] mregni commented on #1150
Is it a simple fix to move the config file locations? Sorry I didn't mention the breaking change!

[2020-04-10 15:12] aptalca commented on #1150
No worries, it's still beta so it's expected (plus it takes only a minute to set it up from scratch as it retrieves all info from emby anyway).

We fixed it by passing these arguments when starting it: https://github.com/linuxserver/docker-embystat/blob/master/root/etc/services.d/embystat/run#L7

[2020-04-10 15:34] mregni commented on #1150
Nice fix :)
I'm also adding a --log-level argument that can be set to 1 (default 2, info) if debug info is needed. Just to let you know, don't know if you can use it in the docker setup really. Later I will add an option in the settings page to change the log level so a restart is no longer needed.

[2020-04-10 15:45] mregni commented on #1151
Seems indeed like a bug, I'm just counting the entries and I will have to take into account the IndexNumber and IndexNumberEnd values so S01E01E02 will count as 2 instead of 1.

How I will handle the played state, later on, will be another problem :) Like Happy2Play stated it will be hard to keep track if you should change the files. I'll try to create a fix for the count now.

[2020-04-10 16:22] mregni opened #1155 "Null reference exception on Media sync"
ok started and configured but the media sync it is not working.

`2020-04-08 11:43:59.0486 [INFO] SYSTEM	Booting up server on port 6555
2020-04-08 11:44:00.4750 [INFO] Starting Hangfire Server using job storage: 'Hangfire.MemoryStorage.MemoryStorage'
2020-04-08 11:44:00.4805 [INFO] Using the following options for Hangfire Server:
    Worker count: 1
    Listening queues: 'main'
    Shutdown timeou

[2020-04-10 16:23] mregni commented on #1155
Extra logging => https://github.com/mregni/EmbyStat/issues/1039#issuecomment-611040842

[2020-04-10 16:25] mregni commented on #1039
Going to close this issue because the support is added in the beta. If you find anything that's not working for Jellyfin, please create a new issue for it.

@bluasoar and @spupuz, I created a new issue for your problem here => #1155

[2020-04-10 16:25] #1039 closed, assigned to nobody

[2020-04-10 16:26] mregni commented on #1121
@Kodiak437, can you do a reinstall with the new version (beta.18)? I updated to LiteDB V5 and it's possible your problem is fixed with the update as well.

[2020-04-10 16:27] #1095 closed, assigned to nobody

[2020-04-10 16:28] mregni commented on #959
I updated to LiteDB V5, can you please check if the problem is still there? (A clean install of beta.18 is needed for this to work)

[2020-04-10 16:36] aptalca commented on #1150
Thanks. We usually leave the log level as default. If it's going to be adjustable via gui in the future, that would be perfect.

I went ahead and put the donation info so it is displayed both in the sponsor button on github, and the container logs:
[code]

closing this now

[2020-04-10 16:36] #1150 closed, assigned to nobody

[2020-04-10 16:42] ced455 commented on #1151
Amazing, I use the multi episode feature like this : 01x01x13 to say season 1 episode one to season 1 episode 13 so 13 episodes !

Thank you for all your work

[2020-04-10 16:43] mregni commented on #1080
@alkalinelito, I created a new version with a --log-level parameter so I can see some more debug info.
Can you download this version and run it with the "--log-level 1" parameter? https://www.transfernow.net/5gOxHc042020

(this is a Debian build normally)

@kocane, I can't really create a docker container of this version. The extra log level will be added in beta.19 soon. If you tell me what OS yo

[2020-04-10 16:45] mregni commented on #1151
Thanks :)

As long as Emby can read your way of working EmbyStat will work as well :)
Emby just has to update the IndexNumber and IndexNumberEnd and EmbyStat will pick it up (I'm going to merge this is beta.19)

[2020-04-10 16:50] mregni commented on #1040
@lapoigne, can you check if it works now in beta.18?

[2020-04-10 16:52] mregni commented on #1034
@Nestar47, @shenniko. Took me a long time to get a new version up and running. You will need to update manually to beta.18 anyway. Can you check if the beta.18 updates to the next release next week?

[2020-04-10 16:57] mregni commented on #1026
I just updated to LiteDB V5. Can you please check with a clean install if this is still happening?

[2020-04-10 16:59] mregni commented on #1053
Done

[2020-04-10 16:59] #1053 closed, assigned to nobody

[2020-04-10 17:03] mregni commented on #978
I just updated to LiteDB V5 in beta.18. Can you install it as a clean install and check if the problem is still there?

[2020-04-10 17:08] deeprain279 commented on #1152
Hello,
thank you for the feedback. I create a complete new container and all works perfect now like it was in Beta 15.

The question can be closed. THX

[2020-04-10 17:10] mregni commented on #1152
Thanks for your reply! happy to help :)

[2020-04-10 17:10] #1152 closed, assigned to nobody

[2020-04-10 17:21] Nestar47 commented on #1034
Updated manually, I'll keep an eye on it

[2020-04-10 17:25] Nestar47 commented on #1081
The movies error above has gone away with release 18, shows now fail before any are processed though.

2020-04-10 12:23:31.1908 [INFO] MEDIASYNC-JOB	Lets start processing show
2020-04-10 12:23:31.1908 [INFO] MEDIASYNC-JOB	Logging in on the Tvdb API.
2020-04-10 12:23:31.1908 [INFO] THETVDB-CLIENT	Logging in on theTVDB API with key: xxxxxxxxxxxxxx
2020-04-10 12:23:32.7847 [ERROR] Error while running

[2020-04-10 20:40] mregni commented on #1081
That looks like it is missing some data from Emby while it is syncing. I'm going to catch doesn't null reference exception in a null check. Hopefully will be fixed in beta.19

[2020-04-10 20:48] mregni opened #1156 "Duplicate exception on resync"
Looks like there are some leftovers in the database because a resync will crash sometimes.

[code]

[2020-04-11 00:19] alkalinelito commented on #1080
Hi, just tried the build, but didn't launch the wizard. There's already a reggi user created, and can't find the setting to change it to Jellyfin on settings.       I replaced appsettings.json with a "new" one and removed usersettigns.json .

Now the wizard shows.

This is what the log showed when trying to connect to jellyfin server:

https://pastebin.com/AjJqv5dY

[2020-04-11 01:22] shenniko commented on #1034
Updated to v0.2.0-beta.18 manually. will wiat to see what happens with the next update :)

[2020-04-11 06:38] mregni commented on #1080
ow, that's my id that was left in the build. Sorry about that!
I think you missed there because the pastebin contains the index.html file and not the log content :)

Can you look for the log file in the "Logs" folder?

[2020-04-11 11:12] deeprain279 commented on #1156
Same issue here. The first sync or the initial sync was perfect. The scheduled sync or other sync are failed:

2020-04-11 13:06:14.5133 [INFO] THETVDB-CLIENT	Call to THETVDB: https://api.thetvdb.com/series/72449/episodes?page=2
2020-04-11 13:06:14.5858 [INFO] THETVDB-CLIENT	Call to THETVDB: https://api.thetvdb.com/series/72449/episodes?page=3
2020-04-11 13:06:14.6440 [INFO] MEDIASYNC-JOB	Found 0 m

[2020-04-11 20:46] yangkghjh commented on #1132
Thank you for the work. It could start now.

But I've got a new problem in media sync job. I will open a new issue about it.

[2020-04-11 20:49] yangkghjh commented on #1155
Same issue here.

Logs:

[code]

[2020-04-11 21:41] alkalinelito commented on #1080
Hi, that's the content of the log file when you trying to connect to Jellyfin,  you see:

2020-04-10 21:15:31.4701 [DEBUG] SERVER-API Pinging server on http://localhost:23921
2020-04-10 21:15:31.4865 [DEBUG] BASE-HTTP-CLIENT   Ping returned <!DOCTYPE html>

and then just the index.html dump from jellyfin

[2020-04-14 07:23] spupuz commented on #1155
does a new docker version has come up? i still have the same problem and i'm still on version v0.2.0-beta.18.

[2020-04-14 10:57] mregni commented on #1132
Thanks! Going to close this one then

[2020-04-14 10:57] #1132 closed, assigned to nobody

[2020-04-14 11:04] shenniko commented on #1050
@mregni  Not sure if something has changed from version 12-14 (cant remember what version i raised this on) but doesnt seem to be happening any more..

Im running some script to output the CPU usage of embystats to see if anything pops up.. but hopefully this might be resolved..

[2020-04-14 14:44] mregni commented on #1080
Missed that part, sorry. Seems like Jellyfin is returning his index page instead of the string "Jellyfin Server". That's why EmbyStat is thinking it's not finding the server.

I just tested it with Jellyfin 10.5.3 and I get this result when calling the ping API
![image](https://user-images.githubusercontent.com/22617019/79231727-cbd94800-7e66-11ea-83c7-7914de2b19d5.png)
No idea why you are getting

[2020-04-14 15:49] mregni commented on #1050
Oke that's good news! I'm going to push beta.19 in an hour or 2. If anything looks strange to you let me know.

Going to close this ticket but feel free to reopen or create a new one if needed! Thanks for testing.

[2020-04-14 15:49] #1050 closed, assigned to mregni

[2020-04-15 02:51] alkalinelito commented on #1080
Hi , I got it to work ! (just the POST)

The problem is the url, I'm running Jellyfin  using a reverse proxy (nginx) in a remote server.

So the correct url would be : http://localhost:23921/jellyfin/System/Ping

(I'm using localhost , since I'm doing ssh port forwarding to test this problem)

I tested it with postman and it returns "Jellyfin Server"

I need to append "/jellyfin" after the port nu

[2020-04-15 11:33] saeddd opened #1169 "failed to perform media sync task the second and subsequent times"
[2020-04-15 (2).log](https://github.com/mregni/EmbyStat/files/4480917/2020-04-15.2.log)
# Bug report

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots

[2020-04-16 13:08] lapoigne commented on #1040
It's OK with the last beta.
Great job.

[2020-04-16 13:08] #1040 closed, assigned to nobody

[2020-04-19 13:07] shad-lp commented on #1050
I had the same issue, my NUC was making an outstanding noise, I found out EmbyStat was killing it.
Been running again for two days now, nothing wrong happened yet.

[2020-04-20 19:58] mregni commented on #1080
mmmm oke, I haven't got Nginx really working with EmbyStat. Is it maybe a good idea to add a "BaseUrl" input field in the wizard so you can add the "jellyfin" after your port number?

[2020-04-20 20:48] mregni commented on #1155
Just released beta.19 so feel free to test it. I hope it's fixed :)

[2020-04-20 20:52] mregni commented on #1169
Duplicate of #1156, this should be fixed normally in the new beta.19 release.
If not, feel free to comment it that issue. Closing this one for now.

[2020-04-20 20:52] #1169 closed, assigned to nobody

[2020-04-20 20:56] mregni commented on #915
Someone just posted something interesting (@alkalinelito) in issue #1080. He stated in his last message  (https://github.com/mregni/EmbyStat/issues/1080#issuecomment-613785027) that the ping was not working because he is using a base url on his server. Is that the case for you as well @wjbeckett?

If so, it maybe be a good idea to add an extra input field in the wizard so people with a base url ca

[2020-04-20 21:04] mregni commented on #1034
just published beta.19, let me know if your instance updates correctly

[2020-04-20 21:11] Nestar47 commented on #1034
Looks like it's failing during the update process, it does see it and try it though.
https://i.imgur.com/OA2hDxc.png
https://i.imgur.com/3NluiIg.png

`2020-04-20 16:10:06.3654 [INFO] CHECKUDPATE-JOB	Starting job
2020-04-20 16:10:06.4296 [INFO] CHECKUDPATE-JOB	Contacting Github now to see if new version is available.
2020-04-20 16:10:07.0687 [INFO] CHECKUDPATE-JOB	New version found: v0.2.0.19
2020-

[2020-04-20 22:30] wjbeckett commented on #915
@mregni unfortunately it's not the issue for me. I do not use a baseURL in my Jellyfin instance.

[2020-04-20 23:27] shenniko commented on #1034
same error:

2020-04-21 00:23:12.5656 [INFO] CHECKUDPATE-JOB	Starting job
2020-04-21 00:23:12.8385 [INFO] CHECKUDPATE-JOB	Contacting Github now to see if new version is available.
2020-04-21 00:23:13.1490 [INFO] Connecting to ws://xxx.xxx.xxx.xxx:xxxx/embywebsocket?api_key=xxxxxxxxxxxx&deviceId=38b128b9-13e1-4457-87c6-02620264301c
2020-04-21 00:23:13.7251 [INFO] CHECKUDPATE-JOB	New version found:

[2020-04-21 01:00] alkalinelito commented on #1080
Yes, I think it's a good idea to add that option,  it seems it was also the problem of the creator of this issue since he had "emby" as base url too

[2020-04-21 07:44] mregni commented on #915
To bad, I'll have to setup my own testing env then to fix the Nginx problems

[2020-04-21 07:51] mregni commented on #1034
It looks like it can't find the update application itself, going to add some more debug logging for next releases.

But I think that I made an error in my code so it's looking in the wrong directory for the update application. I'll fix this in the next release.

[2020-04-21 07:52] mregni commented on #1080
Yes indeed, but I never noticed that was the issue :)
I'll add it to the beta.20 release. Thanks for testing!!

[2020-04-21 10:36] mregni opened #1183 "Insert person throws duplicate exception"
[code]

[2020-04-21 11:20] spupuz commented on #1155
same issue:

`2020-04-21 13:17:05.0720 [INFO] SYSTEM	Booting up server on port 6555
2020-04-21 13:17:06.3883 [INFO] Starting Hangfire Server using job storage: 'Hangfire.MemoryStorage.MemoryStorage'
2020-04-21 13:17:06.3931 [INFO] Using the following options for Hangfire Server:
    Worker count: 1
    Listening queues: 'main'
    Shutdown timeout: 1.00:00:00
    Schedule polling interval: 00:00:0

[2020-04-21 20:20] wizel10 opened #1184 "Jellyfin scan error"
# Bug report

**Describe the bug**
Through an error when media sync starts.

**To Reproduce**
Connected to Jellyfin OK. Working on a container (docker) with network set as host.
Check connection is OK
Media sync fails.

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Sync to take place

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-04-22 01:22] alkalinelito commented on #1080
no problem, thank you for this project!

[2020-04-22 16:46] wizel10 commented on #1184
Did a second test with Emby, rather than JellyFin, and works very fine. reading through other issues I saw the connection with Jellyfin is not yet finish or stable.
I'll close this issue as the team is well aware.
Thanks for the good job.

[2020-04-22 16:46] #1184 closed, assigned to nobody

[2020-04-25 16:24] CyberPoison opened #1189 "[Feature Request] Send notification across multiple platforms. (Discord, etc..)"
#Features request

Allow to send personalized or costumized notifications in different platforms like discord, etc..

Notifications like

#MoviesAdded

The movies {movies title} {movie Year} as been imported to the {Library Name}.

#TvshowsAdded

And allow other notifications to a different channel for exemple #TvshowsAdded

The {TV show title} {Season} {episode} as been imported to the {library n

[2020-04-25 16:32] CyberPoison commented on #1189
There are many different notifications tags like {movie title} {Movie Year} {TV show} {TV show Season} {TV show Episode} {Server Up/down} {update available} {streams online} {transcoded streams} {total movies} {total TV shows}

And add a scheduled cron as a option and automatic option (ex:. For when movies has been imported send notification)

There are many many tags on tautulli the devs should b

[2020-04-28 14:01] muadxili commented on #1155
hi, same probleme with beta 19 ( linuxserver docker image)

[2020-04-30 06:32] G-Dewd commented on #1155
same problem here, using linuxserver/embystat docker image

[2020-04-30 13:24] bbalz commented on #1155
Same issue here but windows with beta 19.

[2020-05-02 09:25] shakey555 commented on #1060
Still having this severe slow down issue with beta 19.
I've been unable to check for a while as this is the first version for a while that will scan my entire library.

[2020-05-04 20:59] mregni opened #1201 "Change library caching from N! to ALL + separately"
Currently, I'm calculating N! possibilities for statistics. Meaning that on a high volume of libraries it can get too much. The solution is to cache only ALL + separately instead of N!

[2020-05-04 21:02] mregni commented on #1155
Mmmm, sounds like EmbyStat can't find any shows with a certain parent id.
Can you run EmbyStat with --log-level 1 so I get some more debug information?

[2020-05-04 21:04] mregni commented on #1060
I haven't been able to look into this issue sadly. I'll try to get into that for beta.20!

[2020-05-04 21:07] mregni commented on #1189
Currently, it's just me as a dev, so progress is going VERY slow. This does look like a very nice feature I can't yet implement this. Just because I'm still not able to perform an incremental sync meaning every time a sync is performed you will get a notification for every move found.

I'll do my best to include some external platforms asap, but I won't promise anything since I have still a LOT of

[2020-05-06 01:01] PorgJuice opened #1202 "Prometheus exporter"
# Feature request
I'd love to be able to pull these stats into prometheus for alerts and graphing. https://prometheus.io/docs/instrumenting/writing_exporters/

[2020-05-07 13:43] Dubwize opened #1203 "Majority of TV shows status is being reported as null"
# Bug report

**Describe the bug**
Majority of TV shows status is being reported as null (see image),  this may be because of bad meta data somewhere as some do show correctly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Shows
2. Scroll down till you see the graph (see image)

**Expected behavior**
All shows should be either Ended, or Ongoing

**Screenshots**
![image](https://user

[2020-05-08 16:23] cavemandaveman commented on #1155
I'm having the same issue. Here is the debug log:
[code]
The retry attempts show the same errors

[2020-05-10 10:51] leon1995 commented on #728
Unfortunatley the link @aptalca provided isnt working anymore. Does someone can share a working dockerfile for raspbarry pi please? i get the same error using the `beta-ubuntu-x64` tag:
`standard_init_linux.go:211: exec user process caused "exec format error"`

[2020-05-10 14:15] aptalca commented on #728
@leon1995 our image is multi-arch
https://github.com/linuxserver/docker-embystat

[2020-05-11 16:26] leon1995 commented on #728
Thanks!

[2020-05-11 17:01] #1026 closed, assigned to mregni

[2020-05-11 17:01] #1121 closed, assigned to nobody

[2020-05-11 17:33] lordfiSh commented on #1026
Seems to work now, thanks

[2020-05-11 18:00] oonqt opened #1210 "User detail pages always return no information"
Maybe this just hasn't been implemented completely, but when I click on a user, it reports zero movies watched, zero episodes watched, and nothing for last watched items.

It also doesn't load an empty profile picture for users who don't have one, and for whatever reason doesn't load a profile picture on the user view page regardless if the user has one. (the user that I show in the screenshot DOE

[2020-05-11 18:02] #978 closed, assigned to mregni

[2020-05-12 07:06] #959 closed, assigned to mregni

[2020-05-14 19:35] angeltonio opened #1218 "Error with Series and Movies on JellyFin"
When I put de API for Jellyfin works fine the list of ussers, and extensions, but the movies and series give me a error logs

15:31:42 14-05-20 MEDIASYNC-JOB => 0 movies found in parent with id 4230a6c21b952a1364bcdbe51a769351. Propably means something is wrong with the HTTP call.
15:31:42 14-05-20 MEDIASYNC-JOB => Lets start processing show
15:31:42 14-05-20 MEDIASYNC-JOB => Logging in on the Tvd

[2020-05-17 16:49] peioe commented on #1218
I'm seeing the same. Not sure if this is related, but in "Server" in the left menu, default ports (8096, I'm using a reverse proxy and https is on port 443) are listed instead of the one I entered in the settings.

[2020-05-19 03:51] sesipod opened #1221 "Emby plugin not working - ( failed )"
# Bug report

**Describe the bug**
Error when running the Statistics update from scheduled tasks ( failed )

**To Reproduce**
Steps to reproduce the behavior:

1. Uninstalled the plugin / restart server / reinstall plugin
2. Run the task manually - same error

**Expected behavior**
For the scan to complete and user stats to be updated.

**Screenshots**
If applicable, add screenshots to help explai

[2020-05-19 03:52] sesipod commented on #1221
[Emby-Server-Log](https://share.sshosting.org/de353e99b97c)

[2020-05-19 14:06] sesipod commented on #1221
`Value cannot be null. (Parameter 'source')
at System.Linq.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
at Statistics.ScheduledTasks.CalculateStatsTask.UpdateTvdbConnection(ShowProgressCalculator calculator, String time, IEnumerable`1 seriesIdsInLibrary, CancellationToken cancellationToken)
at Statistics.Schedule

[2020-05-20 09:17] muadxili commented on #1155
Hello,
still the same problem despite the beta 20 update (linuxserver / embystat: 0.2.0-beta.20-ls22)

11:16:40 20-05-20 JOB CONTROLLER => MEDIASYNC-JOB job queued
11:16:51 20-05-20 MEDIASYNC-JOB => Starting job
11:16:51 20-05-20 MEDIASYNC-JOB => First delete all existing media and root media libraries from database so we have a clean start.
11:16:51 20-05-20 MEDIASYNC-JOB => Asking MediaServer fo

[2020-05-22 05:33] oonqt commented on #1221
The plugin got an update that fixed this

[2020-05-22 20:56] Alcatraz077 commented on #1218
Same here as well, just installed it via Docker, setup to Jellyfin via the wizard with an API key. It gives me similar errors. Log attached.

Edit: I'm on EmbyStat v0.2.0-beta.20, Jellyfin version 10.5.5

[2020-05-22.log](https://github.com/mregni/EmbyStat/files/4670350/2020-05-22.log)

[2020-05-27 11:29] gundamboyzack opened #1229 "Unable to update EmbyStat"
Describe the bug
Unable to update EmbyStat from v0.2.0.19 to v0.2.0.20 (Job Failed)

To Reproduce
Run update check job on v0.2.0.19

Expected behavior
EmbyStat updates to v0.2.0.20

System (please complete the following information):
OS: Linux - Debian 10.3 x64, virtualized
Browser Chrome
Version 0.2.0.19

Additional context
Log file is attached.  Also attempted to manually update, which failed as

[2020-05-29 19:54] MaDTaZ opened #1230 "White Page in Browser"
Hello all

I am getting this error in the logs.
Job not running because wizard is not finished

And
Just a white page when I go to 6555. any ideas?

Should of mentioned
using beta emby and also running under linux native not docker

[2020-05-31 01:00] oonqt commented on #1229
I am experiencing the same error as well on Ubuntu via a systemd service

[2020-06-04 02:08] shenniko commented on #1034
does v0.2.0-beta.19 have this fix? As i could test (tomorrow) to see if it auto updates to 20?

Shenn

[2020-06-08 08:07] Nosirus commented on #1218
no news ?

[2020-06-08 22:07] ghost commented on #1218
I looked through some of the code and it seems like the jellyfin API requires a admin userid for calls to get any movie or show. I can try and look into a way to fix that without disturbing the emby users.

[2020-06-16 14:57] danshilm commented on #1210
I believe the user watch history hasn't been implemented yet (it will probably come with the history feature).
The user profile pictures do load for me though. It seems to just pull those from Emby directly instead of having it stored somewhere. As for empty profile pictures, it tries to pull it from Emby but since the default profile picture (on Emby) is not a picture per se, but rather a generat

[2020-06-17 12:34] danshilm commented on #1203
Just checked and the shows in the database don't have any values for their state, which suggests it might be doing something weird when getting info from the TvDb. However, it seems like the shows also have incorrect values for their state in the shows overview tab.

[2020-06-26 05:13] Protektor-Desura commented on #1218
I get the same error. It won't load any data from Jellyfin.

[2020-07-02 17:01] SijanC147 commented on #1229
any luck resolving this issue?

[2020-07-02 21:41] gundamboyzack commented on #1229
I've not had any luck, was waiting for the next release to see if the same issue occurs.

[2020-07-04 00:15] Protektor-Desura commented on #1218
I'm still seeing this with lastest version of Embystat on Jellyfin. It will not complete the "Media synchronisation" job.
EmbyStat version: 0.2.0-beta.20

I will say all other jobs work, "Small sync with Emby", "Database cleanup", "Check Emby connection". Note I am not running Emby but instead running Jellyfin.

[2020-07-04 00:30] peioe commented on #1218
The latest release is from May 19th, there's no point bumping this issue every week.

[2020-07-07 08:15] spupuz commented on #1155
yes same for me

[2020-07-08 04:58] mregni commented on #1202
That would be great indeed, when I have some stable version I will add this to my roadmap.

[2020-07-08 05:00] mregni commented on #1230
Did you see any errors in your browser console?
Also, you can try to go to http://<your-ip>:6555/wizard to start the wizard. Hope that helps!

I'm rewrite the whole UI for the moment so if it's not working just wait for the next beta with the new ui

[2020-07-08 05:02] mregni commented on #1034
There is still something strange going on with the updater. I'll see that if I take the updater fix with the new version

[2020-07-08 05:03] mregni commented on #1210
User history is indeed broken for the moment (web socket has been turned off in EmbyStat to safe resources)

@danshilm, thanks for the information. When I start working on the user history I will keep that in mind for users without profile pics!

[2020-07-08 05:05] mregni commented on #1203
That is strange indeed. I'll check if something changed on the API. Maybe that I'm not receiving the state correctly anymore.

[2020-07-08 05:07] mregni commented on #1229
This is a duplicate of #1034, the updater itself is looking in a wrong folder for the files. I'll see if I can fix that in the next release. I'm rewriting the UI completely so it will be a big release.

[2020-07-08 05:13] mregni commented on #1218
Hey guys, sorry for not getting back sooner. Been busy with the UI at the moment.

There is a difference between Emby and Jellyfin and that is that some API calls need an admin user id for authentication on Jellyfin. That's why in the last step all Jellyfin setups need to choose an admin user.

But the problem itself in in the Tvdbclient, seems like the login is failing. I'll try to fix this in th

[2020-07-08 05:16] mregni commented on #1155
Something is still happening with the Show sync.

I'll have a look, thanks for the logs. Going to add some more debug logging as well to that part of the code.

[2020-07-08 23:03] MaDTaZ commented on #1230
Thank no that didnt work either but I will wait for the next beta and give it a try.  Thanks

[2020-07-08 23:03] #1230 closed, assigned to nobody

[2020-07-26 02:09] solarchemist opened #1265 "Possible to add setting to change port from 0: to loopback to avoid exposing EmbyStat on LAN?"
Now that I have EmbyStat up and running, and I can see that there's no built-in authentication for the webapp, I would like to put it behind a reverse proxy that uses Apache basic auth (or something like that) like many of my other webapps.

My issue is that even with such a proxy in place, EmbyStat will remain open and accessible *without authentication* as long as it's accessed from inside my LA

[2020-07-28 13:42] edrock200 opened #1266 "Sync error with Jellyfin and Emby"
# Bug report

**Describe the bug**
A fresh install of Embystats Beta 20, Beta 19 or Beta 18 will not sync with Jellyfin or Emby. The users, plugins, and library names seem to sync properly, but the libraries always error out no matter what I try. This is using the docker containers.

**To Reproduce**
Steps to reproduce the behavior:

Install Embystats beta 18, 19 or 20 docker version, point to jel

[2020-07-29 09:21] mregni commented on #1265
At the moment I'm implementing authentication and I will release that soon. I did a full rework of the UI so some part (shows for example) will not be included in this release yet. I hope I can release it in a couple of days. Then you will have authentication with JWT tokens.

Would that fix your problem?
I'm not sure what you mean with "changing the port binding to the loopback interface"

[2020-07-29 09:25] mregni commented on #1266
It is possible that this is already fixed in the code I have locally. We need to retest this when beta.21 is released.
I'm doing my best to finish the release this week but can't promise anything.

[2020-07-30 02:51] solarchemist commented on #1265
Adding built-in authentication sounds great, just please make it possible to disable it too.

My point is that for webapps that aren't multi-user, such as EmbyStat, Sonarr, and many others, it can be quite useful to disable any built-in auth, and place each service behind a reverse proxy that takes care of auth using a single-sign on (SSO) solution, such as Auth0 (which I use today) or [Portier](h

[2020-07-30 18:34] mregni commented on #1265
Thanks for the well-formed and clear explanation! I started creating EmbyStat without much knowledge of other systems so I'm still learning how people set up their systems (with pros and cons). I think I understand why you only want to listen to your loopback 😃

The fastest way to do this is by adding a startup option like `--listening "http://127.0.0.1"`. It will then add the port number as well

[2020-07-30 18:45] edrock200 commented on #1266
Oh I gotcha. Thanks! Much appreciated.

[2020-07-30 20:45] solarchemist commented on #1265
Adding a startup option like you suggest would be great, and more than enough to resolve this issue in my opinion.
Thanks for listening!

As for the disableability (did I just make up that word?) of the authentication system you're working on, I suggest you don't worry too much about it. From what little I've seen of how EmbyStat is used, a built-in auth system (even if we can't disable it) is pro

[2020-07-31 07:42] mregni commented on #1265
No problem, thanks for testing my software and helping me to get it better step by step. It's a large project so it's going slow (steep learning curves everywhere for me :p )

A simple auth system is better than no auth system indeed. I also added some user roles support (some people were asking for a "viewer" account and "admin" account so I added that as well (only admin account is created now,

[2020-08-07 14:42] Eldorados commented on #1155
Just wondering if there has been any movement on this? Having the same issues as above, if there is new logging I can post mine up

[2020-08-08 00:03] Protektor-Desura commented on #1266
Beta 22, does not seem to fix this error. I am still not able to get a movie sync with Jellyfin.

I also am not able to download logs because I get "Unhandled backend exception" error when trying to download them.

7:00:01 PM 08/07/2020 - MEDIA-SYNC - First delete all existing media and root media libraries from database so we have a clean start.
7:00:01 PM 08/07/2020 - MEDIA-SYNC - Asking MediaSe

[2020-08-08 10:50] n00b42 opened #1293 "Typos, missing translations"
- At the end of the initialization wizard, there is one string that has a typo and cannot be found in the translation database:
`run madia sync after wizard`
- On the job page, when a job is running, the following string is not found in the translation database:
`Processing`
- On the job page, pressing the menu button of a job, the following string is not found in the translation database:
`Settin

[2020-08-08 11:43] n00b42 opened #1294 "Trying to download a log file results in "Unhandled backend exception""
Trying to download a log file results in "Unhandled backend exception"
(Latest docker image)

[2020-08-08 11:45] n00b42 commented on #1294
I temporaryly enabled Rollbar if that shows up someting.

[2020-08-08 11:48] n00b42 opened #1295 "Opening Movies/General results in short loading and whitescreen"
Opening Movies/General results in short loading and whitescreen

Version: 0.2.0-beta.22 (Docker)

Enabled Rollbar temporaryly.

[2020-08-08 12:32] gundamboyzack opened #1296 "TV shows menu does not appear"
# Bug report

**Describe the bug**
No menu object for TV shows

**To Reproduce**
Add TV shows to library, no way to access the data on the side menu, and no way to modify under settings (also no listing)

**Expected behavior**
TV shows has an entry on the left menu like Movies does

**System (please complete the following information):**

- OS: Debian 10.4
- Browser Chrome
- Version 0.2.0-beta.22

[2020-08-08 14:03] mregni commented on #1155
At the moment not because I disabled the show pages completely. Currently working on getting the tv shows pages back in the new React UI. So you can reinstall the beta.22 if you want but it will not have a fixed for your original problem. I'm working on it in for beta.23

[2020-08-08 14:42] mregni commented on #1266
@Protektor-Desura, what OS is running EmbyStat on? Because you can also navigate to the /Logs folder to check for them. It's normal that EmbyStat not asking for a Jellyfin password because you supplied EmbyStat with an API token.

Your problem does seem like a different one than initially posted because your instance is able to fetch the movie count.

[2020-08-08 14:49] mregni commented on #1293
Thanks for the list!! Looks like I missed some hardcoded text. Fixing them asap

[2020-08-08 19:21] Protektor-Desura commented on #1266
It doesn't fetch the movie count but rather the number of libraries. I have 9 libraries because Jellyfin supports way more file types than Emby now. I have:

Audiobooks
Books
Collections
Comic Books
Movies
Music
Music Videos
Recordings (Live TV recorded)
TV Shows

It doesn't appear to download any movies or TV shows from Jellyfin.

I am running EmbyStat on Ubuntu 20.04 and inside docker. Jellyfin

[2020-08-08 21:08] n00b42 commented on #1293
Sorry, for using this issue for asking: Do you regularly pull the translation from crowdin or do you need a pull request or notification that there has been some work done?

And on a similar matter: Do you read the comments on crowdin, or is it better to contact you on other ways? (I am not impatient, just want to know if commenting there - aka asking for context - is the proper way for you)

[2020-08-08 21:49] n00b42 opened #1298 "Settings/Movies: Layout issue?"
Hi, I am not sure if thats the intended layout or if there are some issues, but thats how my settings/movies page looks:
![image](https://i.imgur.com/KaHVoqH.png)

(I censored one library name as it is personalized)

Btw. is "settings/libraries" or something similar not a more suitable menu entry.

Thanks for your work :)

[2020-08-09 08:36] jaycedk commented on #1296
TV shows will be added in the next release.

[2020-08-09 09:01] mregni commented on #1293
No problem. I'm receiving a PR from Crowdin when there are new translations like https://github.com/mregni/EmbyStat/pull/1297. I'm also going to reply to the crowdin issues when I uploaded all screenshots to give you translators a better idea about what translation is used. I just pushed some new translations to this issue and going to merge it with develop branch.

[2020-08-09 09:22] mregni commented on #1294
Thanks, it did show up in Rollbar now. Seems like the path to the log files can't be found:
`System.IO.FileNotFoundException: Could not find file '/app/Logs/2020-08-08'. `

Is there a way you can verify this path and check where the log files really are? (a bit difficult if you are running in docker). I'm going to try to run the Ubuntu package in a VM later today and see if the file can't be found

[2020-08-09 09:23] mregni commented on #1295
Are you navigating directly to the page or first loading the dashboard (for example)?

[2020-08-09 09:25] mregni commented on #1266
That a heavy collection. But getting te total movie count should not be a problem.
AS far as I can see EmbyStat is searching in your library with id f137a2dd21bbc1b99aa5c0f6bf02a805 for movies (can you just verify that's the correct one and there is no bug in the lib selector in EmbyStat?)

For some reason, Jellyfin is responding with 0 movies. I'll spin up my Jellyfin instance to check if I have

[2020-08-09 09:28] mregni commented on #1298
settings/libraries should be good but the problem is that there is difference between show and movie settings. (Show pages are hidden for the moment in EmbyStat). So Maybe "settings/movie libraries" might be better.

As for the pictures, it should show the library pictures from your Jellyfin server. Going to test it on my own jellyfin test server to see what's happening.

[2020-08-09 09:30] mregni commented on #1296
Thanks @jaycedk for replying. I have hidden the show pages because they are not ready in the new React frontend but I already wanted some feedback about the current state and layout.

Shows will be added one of the next beta versions.
Going to close this issue for now as it is not an issue or bug.

[2020-08-09 09:30] #1296 closed, assigned to nobody

[2020-08-09 09:37] mregni opened #1300 "System.IO.FileNotFoundException: Could not find file '/config/logs/2020-08-07'."
View details in Rollbar: [https://rollbar.com/UPing/EmbyStat/items/760/](https://rollbar.com/UPing/EmbyStat/items/760/)

[code]

[2020-08-09 09:38] mregni commented on #1300
Same issue as #1294

Looks like unix systems can't find the logs

[2020-08-09 09:41] mregni opened #1301 "NSSM missing from install"
Bug from Emby forum: https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/&do=findComment&comment=911083

NSSM was missing from the install files, so had to copy that over, remove the service and reinstall the service.

Check if nssm was copied before in the install file and check how it installs the service

[2020-08-09 10:56] mregni commented on #1265
@chepec, can you check the beta.21 version to see if the --listen-urls parameters works for you?

[2020-08-09 13:24] solarchemist commented on #1265
Very nice :-)

For anyone else interested in running EmbyStat only on the localhost address, like this:
[code]

Which was achieved thanks to the newly added `listen-urls` parameter, as seen in the systemd service file:
[code]

PS @mregni I've written an Ansible role that installs EmbyStat (creates user account, downloads and unpacks the latest release, creates service file, and creates Apache reve

[2020-08-09 13:27] #1265 closed, assigned to nobody

[2020-08-09 14:55] mregni commented on #1301
Looks like I removed the service startup option. Readding it will fix the issue

[2020-08-09 18:02] Eldorados commented on #1155
Ok thanks, I'll keep an eye out!

[2020-08-09 19:14] mregni commented on #1298
@n00b42, can you supply me with the image URL that can't be loaded? You can find it in your Developers Tools in the network tab (probably). It will show up as a 404 request.

I can display the library images correctly but I'm still testing it on a normal install (windows install, no docker). Image URL is http://xxx.xxx.xxx.Xxx:8098/jellyfin/emby/Items/e7699520467fd2392dc7a238a94300ce/Images/Primar

[2020-08-09 20:08] n00b42 commented on #1298
"http://172.17.0.1:8096/emby/Items/cc01444b416777d3fa55d5f13da1ce58/Images/Primary?maxHeight=212&maxWidth=377&tag=9738de1fe1b0b26b81d06c48222dd2d9&quality=90"

Oh, I think I found the issue and maybe thats the answer to the other issues as well:
Docker setup a network bridge (own IP range 172.17.0.1 instead of my home network 192.168.0.1), EmbyStat is able to "find" my Emby Server which runs on th

[2020-08-09 20:10] n00b42 commented on #1294
root@uping-embystat-x64:/app/Logs# ls
2020-08-08.log  2020-08-09.log

[2020-08-09 20:10] n00b42 commented on #1294
seems the file is there, but has a suffix and the exception does not mentio the log suffix?

[2020-08-09 20:37] mregni commented on #1298
Thanks for the update! I'm also going to update the docker containers to use dotnet CORE 3.1 and add some volumes for data dirs and stuff. My experience with creating docker files is limited so I'll do my best to check it out :)

[2020-08-09 20:45] n00b42 commented on #1298
Ok, created another docker instance and set the server url to 192.168.0.123:8096 and now the images show up fine.

![image](https://i.imgur.com/QUZ5o7c.png)

[2020-08-09 20:49] n00b42 commented on #1298
So, the issue is that docker (on my synology) set up a network bridge interface which is of course only known to that server, and therefore the links do not work outside (eg. in the browser).

[2020-08-09 20:55] n00b42 commented on #1294
The network monitor shows the following entry:

`http://192.168.0.200:8099/api/log/download/2020-08-09?anonymous=false`

![image](https://i.imgur.com/XVuSVyb.png)

**However if I modify the request to:**
`http://192.168.0.200:8099/api/log/download/2020-08-09.log?anonymous=false`
Then, I can download the log file!!

[2020-08-09 21:13] n00b42 commented on #1295
![image](https://i.imgur.com/j1MMFN9.gif)

[2020-08-09 21:18] n00b42 commented on #1295
and direct from url:

![image](https://i.imgur.com/QsqjgLi.gif)

[2020-08-09 21:25] n00b42 commented on #1298
Although, instead of using the IP provided during setup, it seems EmbyStat already knows about the "actual" IPs (both LAN as well as WAN)

![image](https://i.imgur.com/36XxNLz.png)

Are there any drawbacks of using this IP(s) instead of the one provided during install?
Or could we query that IP during setup already (and drop the bridge IP if connection is possible?

[2020-08-09 22:04] mregni commented on #1294
Oke, that means I'm missing the file extension somewhere! I will add the .log prefix again because I'm not sending it to the frontend.

[2020-08-10 18:05] john-sp commented on #1266
I have the same problem with the exact same ID, the ID is the poster of the Movies Library

[2020-08-10 19:06] mregni commented on #1295
Mmmm, that's some super weird stuff. Can you check your browser console if you see any errors or debug info?

[2020-08-10 19:10] mregni commented on #1298
So If I'm correct you supply the WAN URL while performing wizard but now you want EmbyStat to use the LAN URL? Maybe a solution would be in the wizard the user needs to pick if EmbyStat needs to use WAN or LAN URL. Because always using LAN would be bad as well for users needing WAN support.

Would that fix your problem as well if you could pick LAN URL in the wizard flow?

[2020-08-10 19:26] mregni commented on #1298
@n00b42, are you using a Jellyfin or Emby server? I'm getting confused because when I try to connect to my Jellyfin test server I'm getting the strange images as well because the image URL seems to be wrong.

[2020-08-10 20:13] mregni commented on #1298
Going to create a nightly build for this fix. Can you test it? I'll let you know when the nightly docker container is released

[2020-08-10 20:25] mregni commented on #1266
@john-sp, you are saing that f137a2dd21bbc1b99aa5c0f6bf02a805 is a poster id? Because that would couse for errors indeed.

[2020-08-10 20:32] mregni commented on #1266
#1155 seems to be the same problem

[2020-08-10 20:40] mregni commented on #1298
@n00b42, nightly docker should be deployed in 30 minutes max. Let me know if the images load correctly for you.

[2020-08-11 00:20] n00b42 commented on #1298
No, in my first install I used the automatically detected server (which used an IP address that is only a bridge network (a virtual network between docker client and docker server), as the docker server runs on the same machine as the Emby server.
This IP is neither LAN nor WAN, its more or less virtual (internal) LAN.

In a second attempt I reinstalled and did not use the automatically detected s

[2020-08-11 00:21] n00b42 commented on #1298
As mentioned before and as it can be seen in the screenshots: After I manually set the LAN address during setup, the images worked.

[2020-08-11 00:27] n00b42 commented on #1295
Oh, sorry, yes of course, forgot to check. There seems to be an error:
![image](https://i.imgur.com/9dCZx4R.png)

[2020-08-11 01:05] Protektor-Desura commented on #1266
Embystat has never pulled any movies or TV shows for me from Jellyfin.

[2020-08-11 05:54] mregni commented on #1298
Thanks for the info! That means that I do need to make a WAN/LAN address picker in the wizard

[2020-08-11 09:09] mregni commented on #1266
I got it working on my Jellyfin test server. Is there a way you can run the following docker container?
`docker run -v <local-data-path>:C:\app\data -p <port>:6555 -e EMBYSTAT_LOGLEVEL=1 uping/embystat:nightly`

This will enable some new debug logging that is not yet in the beta release and also log file download is fixed in nightly. Let's hope I can see why EmbyStat is not syncing Jellyfin data o

[2020-08-11 09:13] mregni commented on #1295
Oke thanks! Seems like I have to remove some lost console.log lines as well!
Not sure if that would be the problem but let's try to fix the error and see what happens

[2020-08-11 09:23] mregni commented on #1298
Added dropdown and fixed another issue with base URL's. If you want you can give the nightly docker container for a test run.

[2020-08-11 10:57] #1221 closed, assigned to nobody

[2020-08-11 10:57] mregni commented on #1201
Fixed

[2020-08-11 10:57] #1201 closed, assigned to nobody

[2020-08-11 13:28] n00b42 commented on #1298
Where did you add the dropdown?

![image](https://i.imgur.com/72OHHjy.png)

nightly-linux-x64 / 0.2.1-dev.1268

[2020-08-11 13:34] n00b42 commented on #1295
If I open the page before synchronization it does not throw an error, just correctly informs me about "no movies".

![image](https://i.imgur.com/BZPlDlm.png)

[2020-08-11 13:45] mregni commented on #1298
It's later on in the wizard. Here you can just give any connection you want that works from EmbyStat backend to Emby. When the connection is successful you will see a dropdown in the next step where you can select if you want to use the LAN or WAN connection (or current connection if it's different from LAN or WAN address configured on Emby)

[2020-08-11 13:46] mregni commented on #1295
Oke thanks, that means the error has something to do with it. I presume you don't have the problem on other pages?

[2020-08-11 13:58] n00b42 commented on #1298
Should it be in the next step?

![image](https://i.imgur.com/TI1UQrG.png)

Cant find it in the other steps as well.

[2020-08-11 13:59] n00b42 commented on #1295
Only on that page.

[2020-08-11 14:43] mregni commented on #1298
mmm strange. It should look like this instead
![image](https://user-images.githubusercontent.com/22617019/89911340-99134680-dbf1-11ea-86bf-12159d8c3403.png)

Version number in menu bar
![image](https://user-images.githubusercontent.com/22617019/89911529-d8419780-dbf1-11ea-8d5e-3a10a50e49d7.png)

[2020-08-11 15:22] mregni commented on #1295
Oke super, glad to hear that! I'll see how I can fix that error then asap.

@all-contributors please add @n00b42 for translation, userTesting and bug

[2020-08-11 16:29] n00b42 commented on #1295
Thank you :)

[2020-08-11 16:33] n00b42 commented on #1295
Oh dear, citing already triggers the bot, wtf... sry

[2020-08-11 16:46] edrock200 commented on #1266
I'm the original poster, I believe you were replying to someone else that chimed in on this thread. I don't know if their problem is the same or different from mine. I'll try the latest nightly and report back. Thank you!

[2020-08-11 17:15] mregni commented on #1295
no no, I added you as a contributor because your spending a lot of time helping me. Thanks for that!

[2020-08-12 05:40] mregni commented on #1295
hehehehe, I'll remove the PR :D

[2020-08-12 05:48] mregni commented on #1266
@edrock200, I saw someone else posting in your thread indeed. But since he also has a problem with fetching the movie count API call I'm presuming it's the same problem. Let me know when you had the time to test the nightly, hopefully the debug info will tell me more about the problem.

[2020-08-12 06:29] mregni commented on #1266
#1155 and #1218 both have the same issue probably

[2020-08-12 16:53] Protektor-Desura commented on #1266
I tried it but it keeps saying it is failing the server ping but the logs say it is passing.
2020-08-12 11:51:45.8027 [DEBUG] BASE-HTTP-CLIENT	External call: [POST]http://192.168.1.10:8096//System/Ping
2020-08-12 11:51:45.8156 [DEBUG] BASE-HTTP-CLIENT	Ping returned: Jellyfin Server
I called my server "Jellyfin". But the log files are working now and I can download them.

[2020-08-13 01:17] Happy2Play commented on #1266
This is interesting as I have a Test stable and beta Emby servers and ,22 will run on fine but my primary Emby Beta server throws this error.

2020-08-12 15:07:58.2574 [WARN] MEDIA-SYNC	Movie error: Object reference not set to an instance of an object.
2020-08-12 15:07:58.2574 [ERROR] Error while running job System.NullReferenceException: Object reference not set to an instance of an object.
   at

[2020-08-13 06:05] mregni opened #1323 "Emby Beta throws null ref in stream sync"
This is interesting as I have a Test stable and beta Emby servers and ,22 will run on fine but my primary Emby Beta server throws this error.

2020-08-12 15:07:58.2574 [WARN] MEDIA-SYNC	Movie error: Object reference not set to an instance of an object.
2020-08-12 15:07:58.2574 [ERROR] Error while running job System.NullReferenceException: Object reference not set to an instance of an object.
   at

[2020-08-13 06:07] mregni commented on #1323
@Happy2Play, I create a seperate issue for your bug because it's another problem. Can you also start the nightly build? (only on docker for the moment)
`docker run -v <local-data-path>:C:\app\data -p <port>:6555 -e EMBYSTAT_LOGLEVEL=1 uping/embystat:nightly`

I added a lot of debug logs in that build that would give me more information about what property is not returned by Emby Beta anymore (or m

[2020-08-13 06:09] mregni commented on #1266
@Happy2Play, I moved your issue to a seperate issue because it seems to be another sync bug

@Protektor-Desura, can you provide me the full log file so I can see what flow EmbyStat is taking up until the ping?

[2020-08-13 18:26] gerben838665 commented on #1266
I have the same problem as @Protektor-Desura where Embystat gives me the following error when doing a media synchronization:
MEDIA-SYNC - 0 movies found in parent with id f137a2dd21bbc1b99aa5c0f6bf02a805. Propably means something is wrong with the HTTP call.

I'm running embystat through unraid and got this error in the linuxserver/embystat docker and the above posted uping/embystat:nightly docker

[2020-08-13 19:36] Protektor-Desura commented on #1266
Still getting the same error on the lastest update that I got today.
0.2.1-dev.1279
2:33:48 PM 08/13/2020 - MEDIA-SYNC - 0 movies found in parent with id f137a2dd21bbc1b99aa5c0f6bf02a805. Propably means something is wrong with the HTTP call.
Also you have a typo with word "probably".

I will say I am no longer having the ping error though.

[2020-08-13 22:19] Happy2Play commented on #1323
Have never used Docker before, but the previous log seemed to point to a issue in the Movies - Kids library library so I did a Refresh and told Emby to search for missing metadata and now the Sync finishes.

3:14:40 PM 08/13/2020 - MEDIA-SYNC - Job finished after 4 minutes.

Different issue but there is no TV in the UI or scanned even though configured libraries in the Wizard.

Okay just saw your

[2020-08-14 06:13] mregni commented on #1266
Thanks for making me aware that you guys are all using my user id. I found the hardcoded id in the RestRequestExtention.cs file. Made it dynamic now, so I'm going to create another nightly so you can test it.

Let's hope this fixes the problem! :D

[2020-08-14 08:28] mregni commented on #1266
@edrock200, @Protektor-Desura, @gerben838665, new nightly is created, this should make the user-id dynamic. If someone can test this for me we hopefully can close this issue :)

[2020-08-14 09:19] gerben838665 commented on #1266
@mregni, Just tested the new nightly. Embystat seems to sync without any problems for me now.
Thanks for implementing the fix.

[2020-08-14 10:19] Protektor-Desura commented on #1266
I just tested the new nightly and it got much farther but didn't finish. It errored out for me. Ping is also still failing for me.
0.2.1-dev.1283

4:49:32 AM 08/14/2020 - MEDIA-SYNC - Processed 4417 / 4417 movies
4:49:36 AM 08/14/2020 - MEDIA-SYNC - Found 372 box sets in Movies library
5:01:03 AM 08/14/2020 - MEDIA-SYNC - Movie error: Object reference not set to an instance of an object.
5:01:04 A

[2020-08-14 17:42] Protektor-Desura commented on #1266
Ping still fails for me so nothing works.
0.2.1-dev.1285

2020-08-14 12:40:16.7193 [DEBUG] SERVER-API	Pinging server on http://192.168.1.10:8096
2020-08-14 12:40:16.7193 [DEBUG] BASE-HTTP-CLIENT	External call: [POST]http://192.168.1.10:8096//System/Ping
2020-08-14 12:40:16.7232 [DEBUG] BASE-HTTP-CLIENT	Ping returned: Jellyfin Server
2020-08-14 12:41:17.5576 [INFO] MEDIA-SYNC	Starting job
2020-08-1

[2020-08-15 06:31] mregni commented on #1266
@Protektor-Desura, did you remove the baseurl while running the wizard by accident (or later in the usersettings.json file)? Normally Jellyfin servers need a /jellyfin baseurl. As I see from the debug urls there are two / instead of just one. It should be /jellyfin/System/Ping normally.

"Jellyfin Server" is the reply a Jellyfin server gives when you call the ping API.

[2020-08-15 06:37] Protektor-Desura commented on #1266
My system does not require or use a baseurl. In fact that hasn't been used by Jellyfin for awhile. You can turn it on if you need it but most should not need it. It adds further complications for the clients as well.

[2020-08-15 06:43] mregni commented on #1266
Ha by default it's still there (was on my test Jellyfin server anyway). Good to know that! Then you should open your usersettings.json file and remove the "/" from the "ServerBaseUrl" property. I will create a fix that clears the baseurl when it's just "/".

Can you test it again when you were able to clear the baseurl in the json file (also restart your EmbyStat server after the change)

[2020-08-15 18:53] Protektor-Desura commented on #1266
My usersettings.json appears to already have it removed.

  "MediaServer": {
    "ServerName": "",
    "ApiKey": "xxxxxxx",
    "ServerAddress": "192.168.1.10",
    "ServerPort": 8096,
    "AuthorizationScheme": "MediaBrowser",
    "ServerProtocol": 1,
    "ServerType": 0,
    "UserId": "6d772cef81c34038b604fde808382347",
    "ServerBaseUrl": null,
    "ServerId": "861dbb0e00f048b9b8085beb6615bb76

[2020-08-16 07:12] mregni commented on #1323
Oke, will close this issue for now. Feel free to open it when the error returns!

[2020-08-16 07:12] #1323 closed, assigned to nobody

[2020-08-16 07:14] mregni opened #1327 "Movie link to media server in table view is broken"
Seems like the link to the media server is broken (media id == undefined)

Logged by @Happy2Play

https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/&do=findComment&comment=913083

[2020-08-16 20:19] mregni opened #1328 "Add codec, HDR and bit depth to movie table"
Forum user requesting 3 new columns and filter on the movie (and probably shows table)
- codec
- HDR
- bit depth

Link to forum post: https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/&do=findComment&comment=910750

I love how I can see how many movies I have in the Fantasy genre, or that I have 4 NC-17 rated movies. What would be really handy is to see th

[2020-08-17 06:37] Protektor-Desura commented on #1266
Still getting the failed ping string so it won't even try to connect now because it tests the ping before trying to connect and get the list of media.

[2020-08-18 17:54] n00b42 commented on #1298
Updated docker image today.
0.2.1-dev.1294
now the selection menu is visible.

[2020-08-18 17:54] #1298 closed, assigned to mregni

[2020-08-18 17:56] n00b42 commented on #1294
Updated my docker image today.
0.2.1-dev.1294

Log download seems to work.

[2020-08-18 17:56] #1294 closed, assigned to nobody

[2020-08-18 19:26] mregni commented on #1298
Thanks for updating the issue!

[2020-08-18 20:29] n00b42 commented on #1295
FYI: The issue persists on 0.2.1-dev.1294 (after docker update and new setup)

[2020-08-18 20:33] n00b42 commented on #1293
Everything seems fixed/incorporated except:
On the job page, clicking on a jobs settings sometimes still results in "JOB.INFO.undefined".
And sometimes means: Quite strangely, while a job was running all items showed the problem, afterwards only "Emby Connection check" remained with the problem while the other showed proper info.

[2020-08-19 06:33] mregni commented on #1293
Just tested it myself and indeed they change from undefined to text and back :(
Looks like something is updating the app state, going to investigate some more

[2020-08-19 06:34] mregni commented on #1295
aaargh, also the error in your console? To bad that I can't reproduce it.
If the error is still there can you give me the exact row number again (because I did some changes since your last screenshot)

[2020-08-19 10:42] n00b42 commented on #1295
![image](https://i.imgur.com/jwg2whG.png)

[2020-08-19 10:43] n00b42 commented on #1295
The log file seem to show no problems. EDIT: Also checked the docker logs and no error there.

[2020-08-19 11:54] mregni commented on #1295
No this is a real frontend issue :( I guess that the settings are not loaded in time before generating the cards. I'll have another look!

[2020-08-19 21:17] edrock200 commented on #1295
Not sure if this is helpful or not, but I'm running into the same issue. In my case, when I inspected, I got errors about mixed https/http content (I have a reverse proxy setup.) When I dug into it, it looks like the page is making call outs to the internal docker IP address of emby, which is how I had input it into embystats so it didn't have to loop around the public interface.

I just went back

[2020-08-20 05:55] mregni commented on #1295
Thanks for the extra info! Mixed content will be an issue indeed if you set up an http link to your media server but use https to access EmbyStat. Will have to fix that somehow later on

I do need to contact your Emby/Jellyfin server to fetch the posters and backdrops. This connection is going from your browser to your media server and it's not hopping over the EmbyStat server

[2020-08-20 06:08] mregni commented on #1266
@edrock200, can you check if your problem is resolved at the moment in the nightly build?

@Protektor-Desura, going to create a new issue for your problem because it is a different one than the original problem.

[2020-08-20 06:08] mregni opened #1332 "Ping is failing"
Still getting the failed ping string so it won't even try to connect now because it tests the ping before trying to connect and get the list of media.

_Originally posted by @Protektor-Desura in https://github.com/mregni/EmbyStat/issues/1266#issuecomment-674690515_

[2020-08-20 09:58] #1328 closed, assigned to nobody

[2020-08-20 10:00] mregni opened #1334 "Add codec, HDR and bit depth to movie filters"
Add the following filters to the movie table:
- codec
- HDR
- bit depth

columns are already implemented in #1328

[2020-08-20 10:00] mregni commented on #1300
Should be fixed with #1294

[2020-08-20 10:00] #1300 closed, assigned to nobody

[2020-08-20 10:00] #1327 closed, assigned to mregni

[2020-08-20 10:01] #1301 closed, assigned to mregni

[2020-08-20 10:03] mregni commented on #1155
Can someone check if this is still a problem now with the new beta.23 release? I fixed an issue with the user id (there was still a hardcoded user id in the code)

[2020-08-20 13:10] Eldorados commented on #1155
I followed the chat in the other issue and swapped over to the nightly build, once you cleared up the user id stuff I was able to sync

Just pulled in beta 23 and seems to be working well

[2020-08-20 22:50] gerben838665 opened #1335 "Links to content on Jellyfin server broken"
**Describe the bug**
When opening a link to a movie/show on Jellyfin it results in an error page.

**To Reproduce**
1. Go to the general page of Movies or Shows.
2. Click on on the titel name of a movie or show.

**Expected behaviour**
Opens the Jellyfin server page of the movie or show.

**System**
- OS: Unraid
- Browser: Edge Chromium
- EmbyStat version: 0.2.0-beta.23
- Media server type: Jellyf

[2020-08-21 04:34] edrock200 commented on #1266
Hey, thanks for getting back to me on this. I installed the latest last night and it does sync now. I have the white screen issue now on movies/general, and no "Shows" sub tab, but those are separate issues so I'm closing this one. Thanks!

[2020-08-21 04:34] #1266 closed, assigned to mregni

[2020-08-21 04:40] edrock200 commented on #1295
Thanks for all the hard work on the app!

Unfortunately putting into the fqdn did not resolve the white screen issue for me. Let me know if there is something else I can provide to help narrow the issue.

[2020-08-21 17:57] cavemandaveman commented on #1155
Beta 23 still does not work for me:

[code]

[2020-08-22 11:19] gundamboyzack opened #1337 "Shows not able to sync"
# Bug report

**Describe the bug**
Media sync fails when starting to sync shows

**To Reproduce**
Run a media sync

**Expected behavior**
Media sync completes

**Screenshots**

**System (please complete the following information):**

- OS: Debian 10.4 x64
- Browser: Chrome
- Version: 0.2.0-beta.23
- Media server type: Emby

**Additional context**
EmbyStat is a new instance/fresh install for beta 2

[2020-08-23 19:30] mregni commented on #1155
@cavemandaveman, can you create a new issue for your bug because it does not seem to be linked with the original one. Going to close this one for now

[2020-08-23 19:30] #1155 closed, assigned to nobody

[2020-08-23 19:37] mregni commented on #1337
Thanks for logging your bug!

Can you please rerun EmbyStat with the --log-level=1 flag and send me the log file? It will output a lot more data so I'm able to trace the incorrect mapping.

[2020-08-23 19:39] mregni commented on #1295
@edrock200, can you post me your console output with the extra debug information? It should display your full media server url a couple of times. (you can blur the URL itself if needed)

[2020-08-23 19:46] gundamboyzack commented on #1337
Attached.

[2020-08-23.log](https://github.com/mregni/EmbyStat/files/5114806/2020-08-23.log)

[2020-08-23 19:57] mregni commented on #1335
Sorry, I was still running an older version of Jellyfin so that's why the links are wrong. I'm updating them asap

[2020-08-24 17:47] cavemandaveman opened #1338 "ArgumentNullException on media sync"
# Bug report

**Describe the bug**
Media sync fails with ArgumentNullException

**To Reproduce**
Initiate a media sync, look at logs

**Expected behavior**
Successful media sync

**System (please complete the following information):**

- OS: Ubuntu
- Browser: Firefox
- Version: 79
- Media server type: Jellyfin

**Additional context**
I can see in the logs it attempts to sync the Movie library, sta

[2020-08-24 21:13] mregni commented on #1338
@cavemandaveman, can you send me a log while running EmbyStat with the --log-level=1 flag? This way it will add a lot more debug information to find the missing property.

[2020-08-25 06:34] mregni commented on #1218
This should be fixed with beta.23, if not feel free to reopen this issue or create a new one.

[2020-08-25 06:34] #1218 closed, assigned to nobody

[2020-08-25 07:36] mregni commented on #1295
Should not be closed (damn git comments :p )

[2020-08-25 07:38] mregni commented on #1203
@danshilm, do you still have this issue in the beta.23? I did some rework in the show converter so this might be solved already

[2020-08-25 07:39] mregni commented on #819
Implemented this is beta.21

[2020-08-25 07:39] #819 closed

[2020-08-25 07:40] mregni commented on #822
i18next supports this, so normally this should work now if you select the correct language in the settings page. If it's still failing, feel free to reopen this issue

[2020-08-25 07:40] #822 closed

[2020-08-25 11:58] danshilm commented on #1203
Indeed fixed in beta.23. Thanks @mregni.

[2020-08-25 13:48] mregni commented on #1203
Thanks for the feedback, going to close the issue then for now.

[2020-08-25 13:48] #1203 closed, assigned to nobody

[2020-08-25 14:43] Dubwize opened #1341 "Alternate Language Movie names in Table View."
# Bug report

**Describe the bug**
Movie names are not pulling English titles when they are Japanese.

**To Reproduce**
After the movies are imported;
Go to Movies -> Tables

**Expected behavior**
Name should be populated the same as they are in Emby, even if there are various names available.

**Screenshots**
Here are two movies listed in the tables display of EmbyStat.
![image](https://user-imag

[2020-08-25 15:01] Dubwize commented on #1062
This looks to be corrected in beta.25, counts and genre info shows correctly in Brave.
![image](https://user-images.githubusercontent.com/16105140/91190968-31193180-e6c2-11ea-8a95-80bf55ca3aac.png)

[2020-08-25 15:03] Dubwize commented on #1341
As a side note.  Nice work on beta.25.  Very nice indeed.

[2020-08-26 17:51] cavemandaveman commented on #1338
Here is the full entry with debug:
[code]

[2020-08-26 21:41] poulpor commented on #1295
Hello, I'm a newcomer to EmbyStat, thank you for your hard work on this nice jellyfin companion.
I have the same whitescreen result when navigating to Movies/general. Jellyfin and EmbyStat (I used the linuxserver image) are both installed via docker on a synology nas, in Host mode instead of bridge.
I don't know if this will help but here's a console output.
![Capture d’écran 2020-08-26 à 23 33

[2020-08-27 06:18] mregni commented on #1062
Thanks for the update! Going to close the issue then. Working with DevExtreme Graphs did decrease the bugs a lot :)

[2020-08-27 06:18] #1062 closed, assigned to nobody

[2020-08-27 06:20] mregni commented on #1295
Welcome, and thanks for testing EmbyStat is this early stage!

I uploaded a nightly for this couple of days ago. Can you try running that build (only available on docker image) to see if it's fixed for you?

[2020-08-27 09:27] poulpor commented on #1295
Hi, thank you for your commitment!
I've installed uping/embystat latest nightly (0.2.1-dev.1333). The whitescreen error is still present when reaching Movies/general but with slightly different firefox console output:
![Capture d’écran 2020-08-27 à 11 21 11](https://user-images.githubusercontent.com/49480426/91422913-1b3d7500-e858-11ea-9d30-538d25efd6d1.png)
In the meantime, I also changed Jelly

[2020-08-27 20:34] edrock200 commented on #1295
Hello! Thanks again for the hard work. Unfortunately same white screen for movies. On the plus side, Shows is now showing up.

[2020-08-28 22:55] edrock200 commented on #1295
Actually, perhaps it's a different issue this time. The log shows this entry now:
2020-08-28 08:42:05.8016 [ERROR] Error while running job LiteDB.LiteException: Document size exceed 16683050 limit

[2020-08-30 19:28] mregni commented on #1295
Sorry, I was gone for the weekend for a small holiday. Going to look at your error tomorrow. Too bad the nightly didn't fix the white screen.

As for the document size limit exception, seems like you are hitting the 16Mb document size limit for some reason. No idea what document should need so much data (maybe a massive show?), I can't increase the document size limit so I will need to start strip

[2020-08-30 19:46] mregni commented on #1341
Hi @Dubwize, thanks for the bug log. I was on holiday so I just now saw your issue.

It is strange indeed that the Japanese titles are shown because I'm mapping the Emby data directly into EmbyStat. I did see that I'm using the OriginalTitle property, maybe Name or even SortName would be better indeed.

[2020-08-31 00:41] Dubwize commented on #1341
No worries man. Gotta get out and unplug sometimes.

I included that "Original Name" image because I assumed that was the value you were pulling. Also, and i'm not Emby variable guru, but i thought SortName was a user populated field, used to force Emby to override the title with what you have entered.

Thanks, and again,  keep up the great work, this new version is amazing.

[2020-08-31 00:50] Dubwize commented on #1341
Thought I would drop this here.   Looks like I was right about SortName.  It's user defined.    I would suggest using SortName first, and if that field = null, then use Title.

![image](https://user-images.githubusercontent.com/16105140/91673493-5e227580-eb02-11ea-8c93-863e3fa33938.png)

[2020-08-31 03:39] Happy2Play commented on #1341
Technically that field is blank in the UI but not the database. At least in Emby

![DB](https://user-images.githubusercontent.com/10268557/91680677-db4ceb00-eb00-11ea-8ffd-69281c7b2e5e.jpg)

[2020-08-31 04:45] ShakeSp33r opened #1349 "MEDIA-SYNC - Job failed, check logs for more info"
# Bug report

**Describe the bug**
System start syncing the library from Jellyfin and stop after a couple of seconds with nothing synced.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Movies
2. "No movies found" screen appears
3. Click on "Start Media Sync"

**System (please complete the following information):**
- OS: Docker (linuxserver/embystat)
- Browser Safari, Chrome, Opera,

[2020-08-31 06:28] mregni commented on #1341
Yeah, I'm also always receiving a sort name when I fetch the data from Emby. Displaying the SortName is a bad idea because this can happen
![image](https://user-images.githubusercontent.com/22617019/91689163-d2413580-eb63-11ea-9941-b13b51eeb147.png)

So will try to display the Name but sorting the name column needs to be done on SortName. Sounds like a plan?

[2020-08-31 11:48] Dubwize commented on #1341
Sounds good to me.
....  and now that I know emby is storing everything in a sqlite db,  I'll be able to dig up more info for you, in advance, next time.

[2020-08-31 13:20] edrock200 commented on #1295
mregni, to correct my previous entry, I am NOT getting the whitescreen anymore. Apologies for the misinformation. I just went back and checked again and what I get now is a constant green status bar saying "Loading show statistics" or "Loading movie statistics" but it never actually loads. When I check the logs, I see the SQLLite error.

Again, my apologies for the misinformation. I know how frust

[2020-08-31 20:42] mregni commented on #1341
@Dubwize, can you check the new nightly build (0.2.1-dev.1365) to see if your problem is fixed? Nightlies are only available in Docker containers. Let me know if you need a Windows artifact.

[2020-09-01 05:56] mregni opened #1357 "Document size exceeds limit of 16Mb"
Actually, perhaps it's a different issue this time. The log shows this entry now:
2020-08-28 08:42:05.8016 [ERROR] Error while running job LiteDB.LiteException: Document size exceed 16683050 limit

_Originally posted by @edrock200 in https://github.com/mregni/EmbyStat/issues/1295#issuecomment-683180133_

[2020-09-01 05:58] mregni commented on #1357
@edrock200 can you try to find the show that is this large? I'm presuming it's a show because movies can't be that big I guess. I'll try to create a build with more debug logging to be able to see which document is over the size limit.

Are you able to run a docker container or do you prefer a (Windows/Ubuntu) artifact?

[2020-09-01 05:59] mregni commented on #1295
Thanks for the kind word @edrock200! I just created a new issue for you for the exceeded document size limit.

@n00b42, can you verify that this is fixed in the last nightly? That way I can take this fix to the next beta release asap.

[2020-09-01 06:03] mregni commented on #1349
Thanks for logging this bug!
Looks like I need to add some more debug information to see what property is null for some odd reason. I will let you know asap when I can create a nightly build for this so you can rerun your tests.

[2020-09-01 07:49] ShakeSp33r commented on #1349
I have excluded the Movies, and the Shows are now processing without an issue. I will after the scan finished do a Library update in Jellyfin, to make sure there are no deleted Movies & then try and process the Movies again... Will let you know.

[2020-09-01 11:25] Dubwize commented on #1341
I use a linux 'package' I can spin up a docker though and give it a test in a bit.

[2020-09-01 14:38] Dubwize commented on #1341
Small spelling mistake in that nightly.   might be in the main build also.  "Synchronization"

![image](https://user-images.githubusercontent.com/16105140/91861625-0c313b00-ec3b-11ea-91d7-62a1d506a046.png)

Unfortunately I can not get the docker nightly to do a media sync.  The issue is, it doesn't do name resolution correctly, so can't get out to TheTVdb.  To note, I run my dockers on a macvlan n

[2020-09-02 21:39] n00b42 commented on #1295
nightly 0.2.1-dev.1365: still white screen, still with JS errors.

react-dom.production.min.js:209:194
[code]

[2020-09-02 23:15] Happy2Play commented on #1295
Does this issue only happen in Firefox?

[2020-09-03 13:38] poulpor commented on #1295
Hi mregni, thank you again for your hard work and like edrock200 said, never ever apologize for living your life :)
I gave a try to the latest 0.2.1-dev.1365 but the white page is still there, with same JS errors than n00b42.
Please tell us if we can help you more, I can give you remote access to my Embystat installation if needed, for example.
@Happy2Play, it happens on any web browser and OS.

J

[2020-09-03 16:34] girlpunk opened #1358 ""Address for your connection to the server" does not give the correct address as an option"
# Bug report

**Describe the bug**
During the setup wizard, users are prompted to "Choose the correct address for your connection to the server". However, depending on the environment Emby and/or EmbyStat is being run from, the correct address may not be available.

**To Reproduce**
Steps to reproduce the behavior:

1. Run both Emby and EmbyStat from Docker containers
3. Complete the setup wizard

[2020-09-04 22:23] n00b42 commented on #1295
Nope, also on Chrome: https://i.imgur.com/9BoBOHw.png

[2020-09-07 19:22] mregni commented on #1358
Hi, thanks for logging this bug.
You mean that the value you entered in the wizard is not available in the "Address for your connection to the server" dropdown?

[2020-09-07 19:26] mregni commented on #1341
@Dubwize, I'm not really familiar with how the DNS resolving should work inside docker and how I need to change my code to use the docker DNS settings. You don't need to try the 'embystat:latest' since it's not updated anyway.

Can you give me a docker image example that does work on your system? I could have a look at their docker image file to see if I'm missing something.

edit: fixing the type

[2020-09-07 19:26] cygnusgamma opened #1359 "Found 0 show on Jellyfin"
Having this issue presently where when I run a Media sync, it gathers the Movies correctly, but fails to gather TV Shows.

`2020-09-07 14:21:11.0327 [INFO] MEDIA-SYNC	Lets start processing movies

2020-09-07 14:21:11.0728 [INFO] MEDIA-SYNC	Found ### movies in Movies library

2020-09-07 14:21:13.2459 [INFO] MEDIA-SYNC	Processed ### / ### movies

2020-09-07 14:21:14.3467 [INFO] MEDIA-SYNC	Processed

[2020-09-07 19:36] mregni commented on #1295
That does seem like a different error but could be related! Thanks for the screenshots. Looks like a race condition somewhere.

[2020-09-07 19:52] #1359 closed, assigned to nobody

[2020-09-07 19:52] cygnusgamma commented on #1359
The issue resolved somehow, frankly not sure how.

[2020-09-07 21:50] girlpunk commented on #1358
The address that EmbyStat connects on is different to the one I connect on. The first is available in the drop-down, but the latter is not.

[2020-09-08 07:59] mregni commented on #1358
![image](https://user-images.githubusercontent.com/22617019/92448969-a6542e80-f1b9-11ea-8d0f-060675e5e0a5.png)
Create a small diagram so I can understand you clearly 😄

Do you mean that the address used by EmbyStat to connect to Jellyfin (x) is different than the calls that are made from your client browser? Meaning that EmbyStat (frontend code) needs to use a different URL than the backend. If so

[2020-09-08 17:03] girlpunk commented on #1358
Yes, that's entirely correct. In my case, x would be `http://jellyfin:8086` and z would be `https://jellyfin.my.domain:443`.

Calling Jellyfin from the browser isn't nessasaraly bad, and the user-accessable address (z) would still be needed if EmbyStat was to link to Jellyfin or specific content in it.

For reference, y would be `https://embystat.my.domain:443`. The address for Jellyfin to access

[2020-09-08 19:22] mregni commented on #1358
Oke this will be a new feature instead of a bug because the current dropdown is used for setting up the x address and I presumed that x and z would always be the same. Seems I didn't think of this so will try to include this in the next beta.

[2020-09-09 06:54] #1341 closed, assigned to nobody

[2020-09-09 06:55] mregni commented on #1359
Hehehe, that's good news. If it comes back let me know!

[2020-09-09 06:56] mregni opened #1370 "EmbyStat not using DNS settings set in docker container"
Small spelling mistake in that nightly.   might be in the main build also.  "Synchronization"

![image](https://user-images.githubusercontent.com/16105140/91861625-0c313b00-ec3b-11ea-91d7-62a1d506a046.png)

Unfortunately I can not get the docker nightly to do a media sync.  The issue is, it doesn't do name resolution correctly, so can't get out to TheTVdb.  To note, I run my dockers on a macvlan n

[2020-09-09 06:58] mregni commented on #1338
This issue is fixed in beta.24. Feel free to reopen if the issue still persists.

[2020-09-09 06:58] #1338 closed, assigned to nobody

[2020-09-09 06:59] mregni commented on #1295
Released a fix in beta.24 for this. Can you test this? :)

[2020-09-09 07:00] #1334 closed, assigned to nobody

[2020-09-09 07:00] mregni commented on #1337
This issue is fixed in beta.24. Feel free to reopen if the issue still persists.

[2020-09-09 07:00] #1337 closed, assigned to nobody

[2020-09-09 07:00] mregni commented on #1335
This issue is fixed in beta.24. Feel free to reopen if the issue still persists.

[2020-09-09 07:00] #1335 closed, assigned to mregni

[2020-09-09 07:24] poulpor commented on #1295
Thank you very much, still a white page but you get rid of some errors :)
![Capture d’écran 2020-09-09 à 09 21 38](https://user-images.githubusercontent.com/49480426/92567465-057b7700-f27e-11ea-8305-c7ede73bf597.png)

[2020-09-09 10:15] mregni commented on #1295
Aaaaargh, no no no 😝
That means that the TopListCard component is not receiving any data from the backend and I have to search why that's happening. I'll come back with a fix :)

[2020-09-09 11:54] Dubwize commented on #1370
I'll try to test this a bit more when I get a few minutes, and report anything new I find.

[2020-09-09 21:55] cavemandaveman commented on #1338
With beta.24, the ArgumentNullException turned into a NullReferenceException, similar to the previous issue #1155
[code]
I am not able to reopen this issue

[2020-09-11 15:37] theflyingfool opened #1371 "Movie Table sort any column"
I would love to be able to sort by all fields in the movies table. I'm assuming this is a feature request not a bug but i could be wrong.

[2020-09-13 21:39] shenniko opened #1372 "Setup not starting"
# Bug report

**Describe the bug**
I had to re-build a new Ubuntu server, trying to get EmbyStat to work, but nothing happening when i goto localhost:6555

**To Reproduce**
1. Download Embystat, make the EmbyStat Executable, run it in terminal, it says:
Hosting environment: Production
Content root path: /home/Embystat
Now listening on: http://[::]:6555
Application started. Press Ctrl+C to shut dow

[2020-09-14 19:57] mregni opened #1373 "Add Show list page with detail view"

[2020-09-14 20:34] mregni commented on #1371
Thanks for testing the tool and for your feature request!
Problem is that currently, it's not possible in code to sort on all fields technically because some properties are nested inside the movie object. Maybe I will change from DevExtreme to syncfusion for rendering tables and graphs so maybe then it would be possible to sort on all columns

[2020-09-14 20:35] mregni commented on #1372
Log file seems a bit empty as well. Can you start EmbyStat with the --loglevel 1 flag?
Also, when you open your console in your browser, do you see any errors?

[2020-09-14 22:42] shenniko commented on #1372
Log below.
No erros, just a blank white page.. Its a complete fresh install of Ubuntu.. just installed, and emby and embystat..

Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.1 LTS
Release:	        20.04
Codename:	focal

2020-09-14 23:40:16.7954 [INFO] SYSTEM	--------------------------------------------------------------------
2020-09-14 23:40:16.8186 [INFO] SYSTEM	Booting up server with follow

[2020-09-18 08:23] ShakeSp33r commented on #1349
Enabled Movies to scan, no luck.

Upgraded to Version 0.2.0-beta.24

Try another scan with Movies enabled. Still same thing:

2020-09-18 10:19:35.0518 [INFO] MEDIA-SYNC	Found 865 movies in Movies library
2020-09-18 10:19:38.3532 [WARN] BASE-HTTP-CLIENT	Value cannot be null. (Parameter 'source')
2020-09-18 10:19:38.3589 [WARN] BASE-HTTP-CLIENT	Value cannot be null. (Parameter 'source')
2020-09-18 1

[2020-09-26 02:20] lukelytle opened #1393 "inotify instance error"
the configured user limit (128) on the number of inotify instances has been reached, or the per-process limit on the number of open file descriptors has been reached.

Anytime I try to install the docker for embystat all I get is this error in the log over and over. Can not get it to load at all and cant find any documents on this issue. Any help would be greatly appreciated.

[2020-09-26 14:05] shenniko commented on #1372
Are there any dependencies that are required for this to run?

[2020-10-13 23:28] Happy2Play commented on #1061
Looks like this this section no longer exists.  Is there a way to filter the table for duplicate instead of having to look through the list for duplicates?

[2020-10-14 00:24] Happy2Play opened #1399 "Movie Table Filter drawer"
# Bug report

**Describe the bug**
Filter drawer requires scroll right to see options.  This appears to only be when not maximized or full screen window.

**To Reproduce**
Steps to reproduce the behavior:

Open Filter in Movies table, when not full screen or maximized window.

**Expected behavior**

Should not need to scroll right to see filter options.

**Screenshots**
If applicable, add screensh

[2020-10-16 21:24] Happy2Play commented on #1393
Programs like this and Emby just use inotify they do not set the limit configured by your system.  You will have to change the value set by your system.
https://stackoverflow.com/questions/57220658/change-inotify-max-user-instances-limit-in-docker-container

[2020-10-20 21:34] skwerlman commented on #1372
i'm also hitting this while making a pkgbuild for archlinux. 127.0.0.1:6555 gives a 500 error

i built v0.2.0_beta.24 from the release tarball against `dotnet-sdk 3.1.8.sdk108-1` and `aspnet-targeting-pack 3.1.8.sdk108-1`

running with --log-level 1 gives the following log:
[code]

[2020-10-20 21:54] skwerlman opened #1410 "test failure on arch linux"
# Bug report

**Describe the bug**
One test fails when run on liniux

**To Reproduce**
Steps to reproduce the behavior:

1. download and extract the sources for the latest release (beta 24 in this case)
2. run `dotnet test` in that directory
3. See the following error:
[code]

**Expected behavior**
All tests should pass

**Screenshots**
N/A

**System (please complete the following information):**

[2020-10-22 18:22] shenniko commented on #1372
I formatted and re-installed my Linux Server.. and its all working.. so there was something wrong with my linux settings..

[2020-10-23 12:45] Sammy-cmd commented on #1295
How's the fix coming along?

[2020-10-30 13:30] killwack commented on #1295
Hi. Same issue for me with latest EmbyStat release. Can't use Embystat since beta.22. Currently using 0.2.0-beta.24.

Movie "general" screen stays fully white if accessed over embystats dashboard:

http://10.10.10.1:6555/movies/general white screen, not infos show up.

http://xxxx:6555/movies/graphs is working
http://xxxx:6555/movies/list is working

Will this issue ever be fixed?

Environment: Do

[2020-11-06 07:33] mregni commented on #1061
The problem with this is that I don't know what a duplicate is really because you can even encode your movies into a different bitrate. They would also show up as duplicates at the moment.
I have to find a way to add some options or to make it possible that the user can mark a duplicate as "none duplicate" for exampe.

[2020-11-06 07:34] mregni commented on #1399
Thanks for the bug! Seems like an ugly design issue to me. I do have to fix the filters anyway because I don't like how they are displayed now anyway.

[2020-11-06 07:36] mregni commented on #1393
I have no knowledge of this option or what it does. Can I add some stuff to the docker container to fix this issue for everyone?

[2020-11-06 07:36] mregni commented on #1372
Thanks for letting me know! Glad it's working now. Going to close this for now, if there is anything else feel free to open a new issue.

[2020-11-06 07:36] #1372 closed, assigned to nobody

[2020-11-06 07:38] mregni commented on #1295
I had to take a break from the project so didn't have time to look into it. I'll have a look when I start working on it again asap.

@killwack, why can't you use the beta.22 version?

[2020-11-06 07:42] mregni commented on #1410
Thanks for taking the time to create a PKGBUILD for it! Strange that this test is failing because it doesn't fail on my systems.
Seems to me that the output strings are identical with a length of 115. I can have a look why this is failing. Maybe some weird stuff is happening when moving from a windows system to a unix system?

[2020-11-06 07:43] mregni commented on #1349
This seems to be a different error. I'll see why you get a nullref exception and try to fix it.

[2020-11-07 11:42] skwerlman commented on #1410
my guess is it expects a CRLF line ending (default for windows) but its only getting LF (default on linux)
thisd explain why the `differs near` bit is split over 2 lines

[2020-11-09 07:02] mregni opened #1417 "Duplicate key exception on show repository"
The following exception is logged on the Emby forum.
Maybe it's already fixed in the feature branch 1373 but I'll have to check that first.

[code]

[2020-11-12 15:15] killwack commented on #1295
Hi,

Sorry for responding so late. I have to figure out how to downgrade to beta.22 or an earlier release using UNRAID as my server and its docker container. This is new for me to set up a docker contrainer manually. (not using UNRAIDs GUI).

But thanks for your response and good to know that you try to figure out this issue.

[2020-11-17 22:54] fjruhl opened #1424 "password bug"
# Bug report

**Describe the bug**
when embystat loads it requests an login name and password

never respondes

*To Reproduce**

close window

go to docker and webui to open a new inter face
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
same thing job.rest.falure

**Screenshots**

![emby stat 01](https://user-images.githubusercontent.com/16024335/99

[2020-11-27 17:17] spupuz opened #1428 "uping/embystat docker image"
Uping/embystat docker image is stuck to 3 months ago is this normal?

[2020-11-27 20:04] scicomrunner commented on #1349
I ran into this same/similar problem no media would sync. exception errors base client can not be null etc. I noticed in the log that the movie count was not complete, it was the count of Movies/Collections not the full movie count. I went into my Jellyfin server and turned off Group Movies into Collections in the library settings, and bingo EmbyStat started to sync. Not a long term solution as I

[2020-12-01 09:52] the-lazy-fox commented on #1349
Please note that you need to select server type as Jellyfin and not Emby if you connect to a Jellyfin instance, it seems obvious but the option selector is not easy to see in the wizard.
Don't know if it's the root cause but might be.

[2020-12-06 19:08] theflyingfool commented on #1428
I'm fairly sure that there has been no new release since Sept 8, so that would make sense.

[2020-12-14 15:33] danshilm commented on #1424
If you upgraded from when there was no Login implemented, you'd need to start over with the installation (delete everything in the config directory that you mounted).

[2020-12-15 13:54] mattmuse commented on #1295
Thank you for this project.  This works fantastic on shows, but I too get the white screen on movies.   Using firefox or edge.

Running the docker on unraid.   If I can be of any help troubleshooting please let me know!

[2020-12-18 18:35] Ishannaik commented on #1218
Having the same issue just installed EmbyStat with docker, everything works/all libraries are loaded but media sync shows the same error on jellyfin ubuntu 10.6.4

[2020-12-19 04:30] Ishannaik opened #1440 "MEDIA-SYNC - Job failed"
# Bug report

**Describe the bug**

[code]
LOGS

[code]
**To Reproduce**
Steps to reproduce the behavior:

Click on run mediasync

**Expected behavior**
A clear and concise description of what you expected to happen.

Run mediasync

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System (please complete the following information):**

- OS: [e.g. Windows, Ubuntu] -Ub

[2020-12-23 18:05] spupuz commented on #1428
so the project is dead?

[2020-12-24 18:17] theflyingfool commented on #1428
Honestly, no idea, but I hope not.

[2021-01-03 16:38] mregni opened #1442 "UI update placeholder"

[2021-01-07 22:35] SigHunter commented on #1218
I have the same problem as Ishannaik. Not possible to get EmbyStat working with Jellyfin at the moment. Running JF 10.7.0-rc2. I'm also using docker for embystat. I tried uping/embystat:nightly which currently is 0.2.1-dev.1373 aswell as ghcr.io/linuxserver/embystat
Logs: https://pastebin.com/Sc6YCUdd

edit: could also not get it working with EmbyStat-win10-x64-v0.2.0-beta.24

[2021-01-08 13:59] Ishannaik commented on #1218
I've heard the tool is broken for jellyfin currently and the dev is on vacation

[2021-02-01 14:14] ShakeSp33r commented on #1349
I followed @scicomrunner thought and disabled the Group Movies into Collections, and now my null error is a thing of the past. It scanned TVShows & Movies, not just TVShows...

[2021-02-05 13:26] aryehassbian commented on #1295
Same here! It works on everything else BUT the Movies General - Getting White Screen on all Browsers that I have tested - Chrome (all kind), Firefox and Opera.
I have the latest version - just updated today - 05 FEB 2021. also emby is updated to latest as well.
Would be happy to know if there is a fix for that or anything we can do to make it work on our end as well.
Thanks

[2021-02-25 19:47] caiusseverus opened #1471 "Sync with Jellyfin not working."
# Bug report

**Describe the bug**
Embystat will not connect to Jellyfin to sync despite the server being recognised in the wizzard and visibile under the server tab.

**To Reproduce**
Steps to reproduce the behavior:

Follow embystat wizzard to add existing jellyfin server.
Initiate media sync.

**Expected behavior**
Emby stat should retrieve data from jellyfin.

[code]

**System (please complete

[2021-04-06 19:23] caretakerscurse commented on #1471
Having the same issue with a similar setup. Manual pings and telnet on port is good but embystat throws errors

`2:17:05 PM 04/06/2021 - MEDIA-SYNC - Starting job
2:17:05 PM 04/06/2021 - MEDIA-SYNC - Halting task because we can't contact the server on http://jellyfin:8096, please check the connection and try again.
2:17:05 PM 04/06/2021 - MEDIA-SYNC - Job finished after 1 minute.`

- Linux 5.4.106

[2021-04-07 15:52] chris2jz commented on #1295
Is there a fix for the white screen when we click on Movies from the menu?

[2021-04-13 01:57] mil1i opened #1514 "Docker: Jellyfin Initial Configuration "new API key not working!""
# Bug report

**Describe the bug**
A new docker container, trying to go through the initial configuration wizard fails to connect. Logs returns a response of:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Jellyfin settings
2. Click on 'Advanced > API Keys'
3. Click the '+' symbol, create new API key
4. Copy API key into initial configuration wizard, select next

Attempted wit

[2021-04-18 02:02] cactuzjak commented on #1471
Exact same issue in Windows 10. Jellyfin 10.7.2

9:59:49 PM 04/17/2021 - MEDIA-SYNC - Halting task because we can't contact the server on http://192.168.0.101:8096, please check the connection and try again.

[2021-04-19 13:59] eat-my-keyboard opened #1520 "run statistics for home videos"
# Feature request

I have lots and lots of vacation-videos, completely tagged with "actors" (family and friends), tags (like "climbing", "diving", "mountain biking", etc...) ... and i would love to run statistics over these videos as well.

As one can imagine they are not categorized as "movies" (as they aren't and i won't bother tmdb with requests) ... they are a "Home Videos and Photos"-Library

[2021-05-28 19:30] mregni commented on #1520
Hi, this is a nice feature request!
Currently home videos are not yet in scope of the project because I still have a massive scope to implement first to get a basic server running. What you can do is create a feature request here: https://embystat.featureupvote.com/ This way I can keep better track of everything.

Thanks for testing EmbyStat!

[2021-05-28 19:31] mregni commented on #1471
Hi everyone, sorry it has been very silent here for a long time but I'm planning to get the project back on track.

This issue looks a lot like #1514, I will check if Jellyfin changed their API somehow and get back to you all asap.

[2021-05-28 19:33] mregni commented on #1424
Sorry for not responding sooner but indeed. If you upgraded from a version without login you will need to reinstall the server completely as danshilm mentioned.

Going to close this issue for now, if you still have this problem after reinstall feel free te create a new issue.

[2021-05-28 19:33] #1424 closed, assigned to nobody

[2021-05-29 10:27] eat-my-keyboard commented on #1520
Hi mregni ... thank you for replying and considering. I'm glad you are considering the request. If i can do anything to support you further to implement that feature, please let me know.

For others who might read this: i will upvote this:

https://embystat.featureupvote.com/suggestions/110346/support-for-extra-libraries-such-as-music-photos-and-home-videos

because it sounds similar and comment a

[2021-05-30 20:59] #1357 closed, assigned to nobody

[2021-06-02 14:11] danshilm commented on #1393
This needs to be set on the host system outside of Docker, so unfortunately, no.

[2021-06-10 08:54] Mattssn commented on #1471
Hi, any update on this, I am having the same issue when trying to sync my jellyfin

[2021-06-27 14:57] Norin-Radd commented on #1471
Hi,

Having the same issue.

[code]

[2021-07-28 08:33] mregni opened #1574 "Merging code from PR"
Merging code from @BankaiNoJutsu his PR

[2021-07-29 06:26] mregni commented on #1574
Added changes from @BankaiNoJutsu

[2021-07-29 15:20] mregni opened #1578 "Using -l argument crashes application"
When starting the server with a different log level "-l 1" argument crashes the application.
This is because 'l' is defined twice as an argument option in StartupOptions

[2021-07-29 15:37] mregni opened #1580 "IP logging is wrong"
When scanning for servers on the network, a wrong IP is used to detect the current IP address.

[2021-07-29 15:42] #1578 closed, assigned to mregni

[2021-07-29 15:42] #1580 closed, assigned to mregni

[2021-07-29 15:42] #1574 closed, assigned to mregni

[2021-07-29 15:53] mregni opened #1582 "api key page on Jellyfin is moved"
The Jellyfin API key page is moved from '/apikeys' to '/apikeys.html' so link needs to be updated as well in the wizard.

[2021-07-29 16:01] mregni opened #1584 "User needs to be able to go back in wizard if server type is wrong"
Currently the user can't go back when server type is wrongly selected

[2021-07-29 16:05] #1582 closed, assigned to mregni

[2021-07-29 16:05] #1584 closed, assigned to mregni

[2021-08-02 06:29] mregni commented on #1514
Hi @mil1i, I just released a new version that should fix this issue.
Can you check If this is still an issue for you or not?

[2021-08-02 06:47] mregni commented on #1471
Hi all, I just released beta.26 that should fix this issue. I tested this on my test Jellyfin server with version 10.7.5.
Can someone check if this error is fixed or not?

[2021-08-02 06:48] #1442 closed, assigned to nobody

[2021-08-02 06:54] mregni commented on #1440
Hi @Ishannaik, sorry I didn't reply to your issue sooner! The project has been in sleep modus for some time but I'm starting to work on it again.

I'm adding a specific NULL check so I don't insert wrong data, but we have to see if this is a good fix for your issue. It will be included in beta.27 soon.

[2021-08-02 06:56] mregni commented on #1399
I recreated the filters and removed the drawer completely (because it always felt very buggy to me). I'm closing this issue for now, if there are issues with the new filters you can always create a new issue.

[2021-08-02 06:56] #1399 closed, assigned to nobody

[2021-08-02 06:57] #1373 closed, assigned to mregni

[2021-08-02 06:58] mregni commented on #1151
This is normally fixed in a previous version, closing the issue for now. Feel free to reopen or create a new one if the issue is not fixed.

[2021-08-02 06:58] #1151 closed, assigned to mregni

[2021-08-02 06:58] mregni commented on #1156
This is normally fixed in a previous version, closing the issue for now. Feel free to reopen or create a new one if the issue is not fixed.

[2021-08-02 06:58] #1156 closed, assigned to mregni

[2021-08-02 06:59] mregni commented on #1081
This is normally fixed in a previous version, closing the issue for now. Feel free to reopen or create a new one if the issue is not fixed.

[2021-08-02 06:59] #1081 closed, assigned to nobody

[2021-08-02 06:59] mregni commented on #1080
This is normally fixed in a previous version, closing the issue for now. Feel free to reopen or create a new one if the issue is not fixed.

[2021-08-02 06:59] #1080 closed, assigned to nobody

[2021-08-02 06:59] #1064 closed, assigned to nobody

[2021-08-02 07:03] mregni commented on #1295
Sorry, the project has been in sleep modus for some time and I'm just starting to work on it again.
I just released beta.26 that included a lot of changes (UI and backend) and maybe that fixed this problem as well because I changed how the statistics are loaded in the UI. Can someone test this issue again and let me know what is happening?

[2021-08-02 07:04] #2 closed

[2021-08-02 07:04] #15 closed

[2021-08-02 07:04] #50 closed

[2021-08-02 07:05] #894 closed, assigned to mregni

[2021-08-02 07:05] #100 closed

[2021-08-02 07:05] #221 closed

[2021-08-02 07:07] mregni commented on #1520
Thanks for sharing the feature request link! I'm going to close this issue for now but feel free to upvote this issue to get it higher in the ranking.

[2021-08-02 07:07] #1520 closed, assigned to nobody

[2021-08-02 07:10] mregni commented on #1428
Hey guys, the project has been in some deep sleep modus but I'm getting ready to start working on it again asap.
I just released beta.26 so feel free to update your containers (clean install is still preferred for the moment) and let me know what you think.

[2021-08-02 07:10] #1417 closed, assigned to nobody

[2021-08-02 07:22] mregni opened #1587 "Add Movie incremental sync"
Sync movies in an incremental way, I can pass a LastSavedDate to Emby now so investigate if we can start using incremental sync instead of removing everything and resync all.

[2021-08-02 13:05] mattmuse commented on #1295
Now I get unhandled backend exception just opening the web interface.    I appreciate all the work you've put into this awesome project!
________________________________
From: Mikhaël Regni ***@***.***>
Sent: Monday, August 2, 2021 3:03 AM
To: mregni/EmbyStat ***@***.***>
Cc: Matt Muse ***@***.***>; Comment ***@***.***>
Subject: Re: [mregni/EmbyStat] Opening Movies/General results in short loading

[2021-08-02 15:02] caretakerscurse commented on #1471
Thank you very much! Sadly, I tried to test with a new docker build for beta.26 but I'm failing to get past the wizard. After providing my server info I click next and see the x/4 page complete then the wizard goes away and I have no UI. Refreshing the page restarts the wizard. Docker sees no meaningful logs.

[2021-08-02 20:56] Norin-Radd commented on #1471
I have the same issue, after the step of configuring the server and pressing next it reaches step 3 or 4 of the server configuration test and instead of continuing to the next step of finishing the setup, it returns a blank page, if you refresh the blank page it goes to the first page of the setup wizard.

Thanks for looking into this issue, I hope its an easy fix

[2021-08-02 22:03] Nestar47 opened #1588 "Blank screen after inputting server details on setup wizard"
After filling in the server settings in the web UI, there is a quick flash of a screen showing something about loading users, then the screen goes white.

Steps to reproduce the behavior:
Extract and copy debian x64 release beta 26 to /var/lib/EmbyStat
Allow execute on ./EmbyStat
Run
Connect to web UI on port 6555
Fill in user/pass
Select new server
Fill in relevant details and hit next

**Expecte

[2021-08-02 22:16] Nestar47 commented on #1588
Just tested Beta 25 as well, same thing there.

[2021-08-02 23:06] Nestar47 commented on #1588
Log entry from a corresponding attempt.

[code]

[2021-08-03 20:54] shakey555 commented on #1588
Same behaviour here for me in beta 25 and 26 on win10.
Upgrading from within embystat does not work either, so no way past the wizard for me.

[2021-08-03 22:43] n00b42 commented on #1295
Same for me:
[code]

[2021-08-03 22:45] n00b42 commented on #1295
Network Analysis shows a `500` return code of a request to `/api/job` with the following answer:
`{"message":"An unhandled error occurred.","isError":false,"detail":null,"stack":null}`

[2021-08-03 22:47] n00b42 commented on #1295
Also happens if I try to open the Jobs page.

[2021-08-04 08:32] mregni commented on #1588
Same bug is also logged on the Emby forum. I'm going to add some default values in the user converter so it won't crash again.

[2021-08-04 08:53] mregni commented on #1471
The blank UI is maybe the same as #1588, I'm fixing that at this very moment so let's hope it is fixed in beta.27 this evening. I will let you know when it's available for download here.
I'm also adding some user converter debug logs, I'm hoping that will give some more insights why it's crashing.

[2021-08-04 09:29] mregni opened #1592 "ServerId missing in external links"
Server id is not supplied in the external links meaning they don't open correctly

[2021-08-04 09:32] mregni commented on #1295
Did you do a clean install? I change the job structure meaning the database needs to be reinitiated. I think that's why you are getting a 500 on the /job API but I'm not 100% sure.
if you did a clean install then this is another problem that I have to look into.

[2021-08-04 11:32] mregni opened #1595 "Add more Debug info in the media sync jobs"

[2021-08-04 12:03] #1595 closed, assigned to mregni

[2021-08-04 16:30] n00b42 commented on #1295
So, just did a clean install, but now can not get past Setup.
After I entered my servers config I get a blank white page.
(because it has been a while I am not perfectly sure everything is correct)

My console returns that a request `GET http://192.168.0.200:6555/api/mediaserver/administrators` fails with a status code of 500.

The log file shows an exception:
[code]

[2021-08-04 16:46] mattmuse commented on #1295
I am having the same issue on the new install after server id page.   Happy to continue testing anything out.

On Aug 4, 2021, at 12:30 PM, n00b42 ***@***.***> wrote:

﻿

So, just did a clean install, but now can not get past Setup.
After I entered my servers config I get a blank white page.
(because it has been a while I am not perfectly sure everything is correct)

My console returns that a requ

[2021-08-05 06:32] mregni commented on #1295
I just released a new beta version (beta.27). I removed a lot of properties in the UserConverter (where you get the null ref exception) so let's hope that this will fix the issue.
When I start using user data I will have to add the properties again but I will perform some more testing before updating the converter again.

Let me know how it works out!

[2021-08-05 06:33] #1592 closed, assigned to mregni

[2021-08-05 06:34] mregni commented on #1440
Can you check if this is working now with beta.27? I added the NULL check that probably will fix this issue

[2021-08-05 08:11] pju55 opened #1598 "No sync of library type "Other""
Movie sync job returns "0 root items found" when sync'ing library of type "Other"/"Mixed Content".

**To Reproduce**
Select an Emby Library of "Mixed Content" and run sync job.

- Windows 10
- Browser: Edge
- Version: .27
- Media server type: Emby

[2021-08-05 09:04] mregni commented on #1598
![image](https://user-images.githubusercontent.com/22617019/128317457-a29f92d8-6a6f-4878-a8db-dedcca9fb4f1.png)
I'm currently only syncing media that are in "movies" or "tvshows" libraries. I will have a look if I can simply add "mixed content" to it as well.

[Here](https://dev.azure.com/uping-be/60c279c7-80b3-445f-8d2e-45e07778a9e6/_apis/build/builds/3518/artifacts?artifactName=EmbyStat-win10-x6

[2021-08-05 09:07] mregni commented on #1598
@allcontributors[bot] please add @pju55 for bug reporting and user testing

[2021-08-05 12:59] mattmuse commented on #1295
I am still getting stuck at the validating api key process.

Thanks!

On Aug 5, 2021, at 2:33 AM, Mikhaël Regni ***@***.***> wrote:

﻿

I just released a new beta version (beta.27). I removed a lot of properties in the UserConverter (where you get the null ref exception) so let's hope that this will fix the issue.
When I start using user data I will have to add the properties again but I will perf

[2021-08-05 20:58] pju55 commented on #1598
DEV version fixed my problem :-)
Hope you can find a way to get it into EmbyStat - without making a lot of other people unhappy!
Maybe make it optional if mixed content libraries should be scanned.

[2021-08-05-truncated.log](https://github.com/mregni/EmbyStat/files/6941632/2021-08-05-truncated.log)

[2021-08-05 21:39] n00b42 commented on #1295
To answer your question: I did a clean install/setup with beta.27 and the setup issue seemed to persist at first.

To check if I did something different during setup, I tested an older version (e.g. beta.22). During the third setup page the old version detects my Emby server automatically, while the beta.27 does not.

Switching back to beta27, **cleaning my browser cache** seems to have done the t

[2021-08-06 06:32] mregni commented on #1598
Thanks for the update! I think I will just merge this change into DEV for beta.28. It will be fine.
One strange thing, in your logs, the Type is "Other" because you don't get any CollectionType from Emby, the property is empty.
I implemented the fallback to "Other" myself.

[code]

Anyway, going to close this issue when i released it to develop, then you can use the normal release track again. Tha

[2021-08-06 06:41] mregni commented on #1295
Browser caching can be a pain 😞

@n00b42
I had to change the automatic detection a bit so I could detect multiple Emby servers in one network instead of just "the first one". Problem with that is that I have to detect the IP adres where the call came from (for example you are using http://192.168.72.1:6555 to browser EmbyStat) then I know I only have to search for Emby servers in the 192.168.1.255

[2021-08-06 09:12] pju55 commented on #1598
Sounds good - thanks!
The collection type is odd - just created another library of type movie:
2021-08-06 11:09:45.3795 [DEBUG] MOVIE-SYNC	id: c99be01f4e5a8368efc7bb0ef2e5b8ba - Name:Movies - Q - Type:Movies - RawType:movies
Looks like "Mixed Type" in Emby  is just an "undefined" value.

[2021-08-06 09:32] mregni commented on #1598
Then it's a good thing I have the fallback to "Other", Maybe I should rename it to "MixedContent" to be consistent . Thanks for testing this!

[2021-08-06 18:31] mil1i commented on #1514
Oh boy. @mregni I am unable to at the moment. The computer I was running as a server died, and I haven't replaced it yet.

I did spinup my Jellyfin/Embystat docker-compose on my personal machine and it does appear to be working. So I do believe it is resolved!

Thank you.

[2021-08-06 18:31] #1514 closed, assigned to nobody

[2021-08-07 00:05] n00b42 commented on #1295
Just had another look, and suddenly the Movie Statistics/Graphs pages have content...
It seems that a (auto/scheduled) second run of the sync job did the trick...

[2021-08-11 04:32] Nestar47 commented on #1588
Setup now completes successfully for me on beta 27 Debian x64

[2021-08-11 04:32] #1588 closed, assigned to mregni

[2021-08-16 11:53] killwack commented on #1295
Hi mregni.

Your fix in Beta 0.27 worked for me too. After deleting and re-installing the embystat docker container in UNRAID and setting up any user & connection credentials in embystat I have synced my TV-series and movies.

The white screen issue in movies has been fixed, but as n00b42 previously mentioned, in movies any statistic information has been empty / 0. TV-series worked for me showing

[2021-08-17 12:16] mattmuse commented on #1295
Happy to report the same, works on a new browser now.  I assume clearing the cache on the old one would work as it is for you all too.

Thanks!
________________________________
From: killwack ***@***.***>
Sent: Monday, August 16, 2021 7:53 AM
To: mregni/EmbyStat ***@***.***>
Cc: Matt Muse ***@***.***>; Mention ***@***.***>
Subject: Re: [mregni/EmbyStat] Opening Movies/General results in short load

[2021-10-15 22:59] stephanrenggli opened #1642 "Images not loading in Docker setup with Jellyfin"
# Bug report

**Describe the bug**
Due to the way images/thumbnails are loaded, they can not be loaded if an internal IP/DNS name is used to specify the Jellyfin server.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up Jellyfin and EmbyStat via docker-compose
1. Run first run setup in EmbyStat and set up Jellyfin server via internal docker DNS name (ex. jellyfin:8086, this will resolv

[2021-10-20 07:28] casperse opened #1645 "Newer get past the wizard?"
Expected Behavior
The wizard should finish and the import should start

The user and password is gone and I cant login because the wizard didnt finish?
Is this normal behavior? (Even if I reset and use the password from the log file I cant login)
Have to do a re-install

The log file only shows:
2021-10-20 09:07:51.8546 [INFO] SYSTEM ----------------------------------------------------------------

[2021-10-20 19:37] BankaiNoJutsu opened #1646 "Add filter to Shows table to sort/show shows per missing episodes amount"
Hey!

Would it be possible to add a filter to Shows table in order to sort/show Shows per missing episodes amount?

Cheers!

[2021-10-26 15:02] nonyhaha opened #1648 "Users info page missing?"
# Bug report

**Describe the bug**
I am running version 0.2.0 b27. I know there used to be a section with info about the users, and now this section is missing, or is it gone from the project?

**To Reproduce**
Login to embystat after configuration. Should be a section in the main menu.

**System (please complete the following information):**

- OS: win server
- Browser chrome for windows and for

[2021-12-05 01:24] neo-neo1 opened #1671 "[Feature Request]: ARM Docker Support"
# Feature request

I attempted to install via Docker on an ARM system and realized there are no ARM based docker images.
This limits compatibility for all SBCs (Rasp Pi, ODROID, etc..).

Please consider adding ARM Docker images. And if you do, please add ARM64 and ARMV7L (32) support to support all SBCs.

Thanks to all the devs and commiters for this project.

[2021-12-16 11:50] n00b42 opened #1677 "Updating Password non functional."
In Settings/General using "New password" does not update the password.

Furthermore, the "old password" field should maybe be a non-plaintext field as well

[2021-12-21 20:11] Cwavs opened #1680 "Shows stats are all 0"
# Bug report

**Describe the bug**
Both the graphs and general sections for the shows tab show 0 in all fields, both tabs work fine for movies and the table tab functions properly

**To Reproduce**
Steps to reproduce the behavior:

1. Run shows synchronisation
2. Go to Shows > General or Shows > Graphs

**Expected behavior**
Correct stats are reported and fields are populated.

**Screenshots**
Sho

[2021-12-22 10:17] Cwavs commented on #1680
Just checked this morning, issue seems to have randomly fixed itself.

[2021-12-22 10:17] #1680 closed, assigned to nobody

[2021-12-29 18:12] player8472 opened #1681 "[Feature Request]: Check airdate for completion"
![grafik](https://user-images.githubusercontent.com/7383656/147691405-685399b5-f323-4935-a6d2-7f59e926c1ad.png)

Like shown in the picture, the completion doesn't take into account if something actually aired yet.
I think it should, since it ruins the whole thing and makes working with the data harder.

[2022-02-15 10:55] sectune commented on #728
@mregni Unfortunately I seem to have the same issue still with the actual beta (linux.zip from releases) running arm64 bullseye on pi4 (my log trying to start the service below):

Feb 15 11:33:38 Pi4.dns EmbyStat[2740]: Object reference not set to an instance of an object.
Feb 15 11:33:38 Pi4.dns EmbyStat[2740]: Unhandled exception. System.NullReferenceException: Object reference not set to an ins

[2022-04-21 09:55] mregni commented on #1671
Hi @neo-neo1, sorry for the late reply, but I just started to have time again to look at the feature requests and bug reports.

I already have an ARM64 build normally, but not as a docker container. Can you specify what images I need to base my containers on for your request? The list of possible docker images can be found here => [https://hub.docker.com/_/microsoft-dotnet-aspnet](https://hub.dock

[2022-04-21 09:59] mregni commented on #1681
Valid point, I added a filter so that unaired episodes are not in the list.
Currently preparing a new release, so stay tuned for the update.

[2022-04-29 02:43] glbjr29 opened #1733 "IP address got change through ISP from power outage"
How can I change the server that I am using? I am using Docker through Unraid,

[2022-05-06 01:18] hayrun-st commented on #1588
I'm seeing the same thing on the Linux Server docker image using the latest version.

2022-05-05 19:57:51.1355 [ERROR] An unhandled error occurred. System.ArgumentNullException: Value cannot be null. (Parameter 'value')
   at Newtonsoft.Json.Utilities.ValidationUtils.ArgumentNotNull(Object value, String parameterName)
   at Newtonsoft.Json.Linq.Extensions.Value[T,U](IEnumerable`1 value)
   at Newt

[2022-05-11 02:11] jathek opened #1745 "embystat:beta container fails to start"
# Bug report

**Describe the bug**
Getting the below when I try to start a uping/embystat:beta container
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Try to start the container

**System (please complete the following information):**

- OS: Unraid
- Version: 6.10.0-rc8
- Media server type: Jellyfin

**Additional context**
Docker Compose:
[code]

[2022-05-15 02:10] andyfore commented on #1677
While I agree on the plaintext field issue, I disagree on the functionality.  I just performed a new installation, and I was able to get update my password through the webui with no issues.

[2022-05-15 15:57] plittlefield commented on #1588
Same here on Docker latest from linuxserver.io and just after inputting API key.

Also, it never finds the local server, so I have to input it manually.

[2022-05-15 16:03] plittlefield commented on #1588
https://pastebin.com/w1S7MKfe

[2022-05-17 06:56] mregni commented on #1745
I released beta.30 yesterday. Can you try again to spin up the container?

[2022-05-17 06:57] mregni commented on #1733
I just released beta.30 so might be a good idea to reinstall the application.
You can always update the server settings in the settings page.

[2022-05-17 06:58] mregni commented on #1681
This has been released in beta.30 Can you check if this problem is still there or fixed for you?

[2022-05-17 07:24] mregni commented on #1677
I released beta.30 yesterday. Feel free to install the new version and see if this problem is not fixed.

The plain text issue is fixed as you can see in the screenshot below and for me the password udpate works as well.
![image](https://user-images.githubusercontent.com/22617019/168753293-fc5de1cb-e5da-4944-ae9c-96d82a5fa6d0.png)

[2022-05-17 17:00] glbjr29 commented on #1733
Wouldn't allow me to change it is the reason I created the post. Will try to reinstall it.

Sent from Yahoo Mail on Android

  On Tue, May 17, 2022 at 2:57 AM, Mikhaël ***@***.***> wrote:

I just released beta.30 so might be a good idea to reinstall the application.
You can always update the server settings in the settings page.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Y

[2022-05-18 06:10] mregni commented on #1733
If you still can't update the IP after going installing beta.30 let me know. Might be helpful if you could add some logging (debugging) if possible.

[2022-05-18 06:12] mregni commented on #1671
I added an ARMV7 to the docker containers. Feel free to test it out when possible `docker pull uping/embystat:beta-arm`

[2022-05-18 06:13] neo-neo1 commented on #1671
Thanks, will check it out soon

[2022-05-18 06:17] mregni commented on #1648
I added a first version of the user pages again. Feel free to test beta.30

[2022-05-18 06:17] #1648 closed, assigned to nobody

[2022-05-18 06:48] mregni commented on #1646
I already added some filters and sorting, but didn't add sorting/filter on missing episodes yet. I'll see if I can add this one in the next release.

[2022-05-18 06:50] mregni commented on #1587
Implemented this in beta.30

[2022-05-18 06:50] #1587 closed, assigned to mregni

[2022-05-18 06:51] mregni commented on #1428
Just released beta.30 with some new UI stuff and user list (first steps into user statistics)
Feel free to test this. Going to close this issue for now.

If you find any bugs you may always create a new issue here.

[2022-05-18 06:51] #1428 closed, assigned to nobody

[2022-05-18 06:52] mregni commented on #1393
Then I'm going to close this issue for now.

[2022-05-18 06:52] #1393 closed, assigned to nobody

[2022-05-18 06:53] mregni commented on #1183
Closing because old bug with old database tech.

[2022-05-18 06:53] #1183 closed, assigned to nobody

[2022-05-18 06:55] mregni commented on #728
I create an ARMV7 image for Raspberry Pi a couple of days back but not able to test it out myself. `docker pull uping/embystat:beta-arm`

Let me know if that works.

[2022-05-18 06:55] mregni commented on #639
Closing because of age

[2022-05-18 06:55] #639 closed

[2022-05-18 06:55] mregni commented on #620
Closing because of age

[2022-05-18 06:55] #620 closed

[2022-05-18 07:30] BankaiNoJutsu commented on #1646
Sure! Would be a great addition in order to quickly see which series have the most missing episodes. Do you also think this would be useful?

Thanks!

[2022-05-18 07:49] mregni opened #1774 "Axios is always going to localhost:6555"
Axios is hardcoded, going to localhost:6555. I need to update this, so it will go back tothe current backend

[2022-05-18 07:51] mregni commented on #1646
Yeah, would be very useful indeed. I just need to create some extra query parameters for it. With the new database structure, this might be fast to implement.

[2022-05-18 07:52] mregni opened #1775 "NoUpdates env variable bug"
When setting the EMBYSTAT_NOUPDATES env variable it will update the Running as service prop instead of No updates prop.

[2022-05-18 07:54] mregni opened #1776 "No type is known for translation string"
Need to update translations because here we don't know the type yet.
![Screenshot_2](https://user-images.githubusercontent.com/22617019/168987221-a945ce7d-cab7-47c3-9ccf-36e762df4f95.png)

[2022-05-18 07:56] mregni commented on #1776
Old translations that needs updating, no bug here.

[2022-05-18 07:56] #1776 closed, assigned to mregni

[2022-05-18 08:00] mregni opened #1777 "Show sync progress is over 100%"
![image](https://user-images.githubusercontent.com/22617019/168988429-66771c5c-87f8-4094-8d02-ca57264a8c56.png)
This should never go over 100%

[2022-05-18 11:29] #1777 closed, assigned to mregni

[2022-05-18 11:29] #1775 closed, assigned to nobody

[2022-05-18 11:29] #1774 closed, assigned to mregni

[2022-05-19 04:33] jathek commented on #1745
It works with the most recent beta (pulled a few minutes ago) but only if I remove
[code]
when .env is loaded this becomes
[code]

[2022-05-19 05:56] mregni commented on #1745
I'm not sure that Embystat is using that user property. The next big update is to make the runtime and startup more robust, so I'll try to include the runtime user correct as well.

[2022-05-19 05:57] mregni opened #1780 "Update rollbar"
Update the Rollbar NuGet package to a more recent version. Currently, used version is a few majors versions behind.

[2022-05-19 06:07] mregni opened #1781 "Make runtime more robust"

[2022-05-19 06:57] mregni commented on #1781
Fixed in beta.32

[2022-05-24 07:26] mregni opened #1790 "Can't load log page"
"EXCEPTIONS.UNHANDLED" toast is displayed when opening the log page. Seems like a missing auto mapper profile

[code]

[2022-05-25 09:50] jathek commented on #1745
I removed the user property for now. Embystat starts now and seems to work with the latest beta. However, it doesn't seem to be storing the data in the /app/config folder? I mapped /app/data instead and see the logs and usersettings.json in there, but where is the database info stored? I've scanned my jellyfin server but no embystat database exists anywhere that I can find, either in my mount fold

[2022-05-27 08:32] mregni commented on #1745
True, it seems I had some bugs that the data/logs/config folders were not correctly used. I'm currently working on a fix for that. Thanks for letting me know!

[2022-05-31 12:01] #1790 closed, assigned to mregni

[2022-05-31 12:01] #1780 closed, assigned to mregni

[2022-05-31 12:07] mregni opened #1798 "All libraries are selected after wizard"
# Bug report

**Describe the bug**
After finishing the wizard, it seems that all libraries are selected even when not everything was selected in the wizard flow.
(tested for tv shows)

[2022-06-03 05:57] #1798 closed, assigned to mregni

[2022-06-03 05:58] mregni opened #1801 "Directory flags not working any more"
Seems like settings any or all of the dir flags is not working any more.
Configuration always stays the same

[2022-06-03 10:35] mregni opened #1802 "Labels nog showing on donut graph"
![image](https://user-images.githubusercontent.com/22617019/171838139-66fde3c9-9c11-42fb-9437-1e00d2f6a2e1.png)

[2022-06-07 13:18] aptalca commented on #1801
Now the arguments are taken into consideration with beta34, however, all paths are treated as relative and it's not possible to set an absolute path.

Using the command `/opt/embystat/EmbyStat --data-dir /config` results in `Config dir:     /opt/embystat/config`, instead of `Config dir:     /config`

A path starting with a `/` should be treated as an absolute path.

Thanks

[2022-06-09 06:21] #1802 closed, assigned to mregni

[2022-06-10 11:16] mregni commented on #1801
I just uploaded beta.36 with a fix for this issue. Can you check if it's working now correctly again?
Flags to use are `--enable-updates false --data-dir /config --log-dir /config/log --config-dir /config`
![image](https://user-images.githubusercontent.com/22617019/173053596-1669b9c1-9ed6-4b78-aa3b-6ee27c05de1c.png)

[2022-06-10 12:46] martadinata666 commented on #1801
Not lsio image, but confirming the value path passed correctly.
[code]

[2022-06-13 06:28] mregni opened #1812 "Show sync is failing because foreign key contraint"
[code]

[2022-06-13 06:42] mregni opened #1813 "TMDB marks special episodes as normal"
When syncing a season with a special season in it, IMDB puts the special episode in the normal episode list (see https://www.themoviedb.org/tv/31917-pretty-little-liars/season/5?language=nl and https://thetvdb.com/series/pretty-little-liars/seasons/official/0) S05E13 is a special episode and should not be in the normal episode list

[2022-06-13 11:31] #165 closed

[2022-06-13 11:32] mregni commented on #721
Going to close this issue for now. If there are still some issues found please create a new one

[2022-06-13 11:32] #721 closed

[2022-06-14 07:59] mregni commented on #1801
Closing it for now as it seems fixed, if not let me know.

[2022-06-14 07:59] #1801 closed, assigned to mregni

[2022-06-14 08:07] mregni commented on #1645
I have updated the app a lot, so this issue might be fixed as well. Closing it for now, but feel free to log a new bug if you still have the same problem.

[2022-06-14 08:07] #1645 closed, assigned to nobody

[2022-06-14 14:57] mregni commented on #968
Closing for now, since these stats are removed from the next build. I'll see if I can include these stats again in future releases.

[2022-06-14 14:57] #968 closed, assigned to mregni

[2022-06-20 06:00] mregni opened #1821 "Add extra column sorting"
Add extra sorting for following columns:
- [x] Status/Title
- [x] Episodes (COUNT(Collected))
- [x] Seasons

[2022-06-20 13:22] #1813 closed, assigned to mregni

[2022-06-20 13:22] #1812 closed, assigned to mregni

[2022-06-21 06:07] #1821 closed, assigned to mregni

[2022-06-21 06:08] mregni opened #1825 "Changing a Movie doesn't result in an update on EmbyStat"
For example i have changed a few *.iso movies to *.mkv because i want Emby to be able to rum them better.

But Embystat dosen't seem to see these changes.

Logged on Emby forum: [https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/&do=findComment&comment=1155649](https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server/&do=

[2022-06-22 06:15] mregni opened #1828 "Add user detail page"

[2022-06-30 10:55] Dead-Lemon opened #1830 "SQLite Error 19: 'FOREIGN KEY constraint failed'"
I recently installed embystat for the 1st time, using the latest linuxserver/embystat docker container, running 0.2.0-beta.37
It is connecting to a Jellyfin, also running in a docker container, currently version 10.8.1

There no issues with establishing the connection, but soon as I start syncing my movies or series, it fails at some point with the SQLite Error 19.

Especially when syncing the TV

[2022-07-04 05:27] mregni commented on #1830
Thanks for posting, looking into the issue. @Dead-Lemon, can you please run the container with debug flag enabled? `-g 1`
That will give me a lot more info where and why your sync is failing.

[2022-07-04 14:27] Dead-Lemon commented on #1830
I managed to run the container with the debug flag.
The results from the logs, from failure to end of file (I added another TV show folder to scan from jellyfin, it progressed further, unfortunatly still eventual got stuck on a show, with the same error)

[code]

[2022-07-04 15:39] Jerrk commented on #1830
I also get this error

not sure how to activate the debug option, i added `-g 1` as extra parameters but then the container will not build

[code]

[code]

[2022-07-04 21:34] Dead-Lemon commented on #1830
Hey @Jerrk, I added the `-g 1`  to [/etc/services.d/embystat/run](https://github.com/linuxserver/docker-embystat/blob/master/root/etc/services.d/embystat/run)
I rebuild the container with the change, as I wasn't sure if I could change the file in the container.

[code]

[2022-07-07 13:26] Callio91 opened #1834 "Selection of default indexer"
Hello,

I have been using EmbyStat for some time. I read in the previous requests that you had chosen TVMaze as the default indexer for series. This works in most cases except for series that can be split in "ARC" for example some anime. For my part I use the TVDB convention. Is it possible to allow users to choose their own preferred indexer? Without this, there are missing episodes that simply d

[2022-07-12 09:27] mregni opened #1835 "Other library type is ignored"
At the moment Other library types are ignored, they should be added to movies and shows libraries because they can hold both.

[2022-07-12 09:46] mregni commented on #1834
Sounds like a good idea to have some indexer options. I picked TVMaze because TMDB did some strange stuff with specials, sadly.
Not sure yet how we can make the indexer work, some kind of list of indexer that the user can drag and drop in the correct order or even disable? Currently, I only have TMDB and TVMaze, since TVDB placed their API behind a paywall.

[2022-07-12 09:57] mregni commented on #1830
Still not sure why it is failing, but I will add an extra check in the show sync asap.

[2022-07-12 10:01] mregni commented on #1834
@Callio91, not sure if you mean to have an indexer priority list for each show/film, or should a global list be ok for you?

[2022-07-12 12:31] Callio91 commented on #1834
Hello, bad news for TVDB, though TvMaze does the job for series, it's for anime that it sometimes fails. If other users report this concern, maybe there exist other indexers a little more oriented to this type of content. In any case, being able to choose a priority from a supported list should answer the need and would certainly be an interesting option. Adding it for each series/movie would prob

[2022-07-12 16:51] mregni commented on #1834
Can you give me a good indexer for anime? Maybe I can see if Emby flags the show as anime and use a different indexer automatically. Still have to do some research for this but it's just an idea.

[2022-07-21 13:40] jdewoody71 commented on #1825
I'd like to add to this as well. EmbyStat works great on the intial run but it doesn't update changes, even after the job is run. I'm finding the only way to get it to update is completely remove the docker, delete the folders and then reinstall.

[2022-07-21 13:43] jdewoody71 commented on #1825
Happens with TV shows as well.

[2022-07-22 08:08] bugs181 opened #1846 "Triggering a sync re-detects movies all over again"
# Bug report

When activating the "Movie synchronization" button on the `Jobs` page, I can see it re-process all of the movies again because it thinks they have somehow "changed".

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/jobs`
2. Click on 'Movie synchronization'
3. See jobs say: `Found 582 changed movies since last sync in Movies`

**Expected behavior**
I expect it no

[2022-07-30 23:21] dondochaka opened #1850 "Cannot sort shows by official rating"
Forgive me for not filling out the full report, I'm pretty sure [officielRating](https://github.com/mregni/EmbyStat/blob/develop/EmbyStat.Web/ClientApp/src/pages/shows/Table/Table.tsx#L56) is a typo which causes an error.

[2022-08-01 07:26] mregni commented on #1825
Thanks for the extra info. There is a problem with how Emby changes the LastUpdated date and how I use it. So I need to investigate some more for this to fix it.

[2022-08-01 07:28] mregni commented on #1846
I'll investigate some more and come back to you asap.
You can't find anything strange in the log file? Maybe an error in the end so that the sync date is not saved.

[2022-08-01 07:28] mregni commented on #1850
No problem, thanks for finding the bug!!! 😄
I'll fix it asap!

[2022-08-01 07:31] mregni opened #1851 "Installer data folder not used after install"
When installing the application with the Windows installer, it doesn't use the data directory as the default directory.
![image](https://user-images.githubusercontent.com/22617019/182096287-a2f2a668-8406-4b7a-9a32-80d76c4ef245.png)

We need to remove the option in the installer or fix the link after install.

[2022-08-01 16:04] bugs181 commented on #1846
Unfortunately, the only thing in the log is what I sent. No errors of any kind.

[2022-08-01 21:08] #1295 closed, assigned to nobody

[2022-08-01 21:08] #1440 closed, assigned to mregni

[2022-08-01 21:08] #1471 closed, assigned to mregni

[2022-08-01 21:08] #1677 closed, assigned to nobody

[2022-08-01 21:08] #1681 closed, assigned to nobody

[2022-08-01 21:08] #1733 closed, assigned to nobody

[2022-08-02 13:28] mregni commented on #1835
Is fixed with [beta.38](https://github.com/mregni/EmbyStat/releases/tag/0.2.0-beta.38)

[2022-08-02 13:28] #1835 closed, assigned to mregni

[2022-08-04 13:07] mregni commented on #1846
Could you upload your log file, so I can have a better look? By default, you can find your log file in the /logs folder of your EmbyStat install or check the logs page to download the full log file.

[2022-08-05 12:29] zero77 opened #1857 "[Bug] Deleted Files Not Removed From EmbyStat"
# Bug report

**Describe the bug**
Movies and Shows are not removed from EmbyStat after they are removed from Emby.

**To Reproduce**

1. Delete file on disk
2. rescan in Emby
3. rescan in EmbyStat
4. The File has been removed from Emby but not  EmbyStat.

**Expected behavior**
After a rescan in EmbyStat the deleted file should no longer be there.

**Screenshots**

**System (please complete the fo

[2022-08-06 22:29] bugs181 commented on #1846
[log20220806.txt](https://github.com/mregni/EmbyStat/files/9275852/log20220806.txt)

Here you go. Unfortunately not much information there to work with.

[2022-08-11 10:08] #1834 closed, assigned to nobody

[2022-09-07 02:02] Brancliff opened #1868 "TypeError: Cannot read properties of undefined (reading '0')"
# Bug report

**Describe the bug**
I'm stuck on the setup Wizard. After inputting a Jellyfin URL and API Key, it gets stuck on verifying the api key 1/4. I know I got both the URL and API key correct because the button next to the URL box does link to my Jellyfin API settings, and my Jellyfin API auth verify link checks out. Anyways, after a bit, it times out and takes me to a white screen. If I t

[2022-11-11 13:35] tomlawesome commented on #1588
This is an ongoing issue. Also using LSIO container though, so perhaps there is a problem there?

[2022-11-22 21:47] mregni commented on #1825
Reverting this back to full sync. Using web sockets is not an option for incremental sync because Emby is not sending a "delete" event over web socket :(

[2022-11-29 15:54] E-Man68 opened #1897 "TV Show Sync not working"
# Bug report

**Describe the bug**
A clear and concise description of what the bug is.

TV Show Sync keeps failing ... stopping at Genre ...
10:04 PM 11/28/2022 | SHOW-SYNC | Job failed, check logs for more info.
10:04 PM 11/28/2022 | SHOW-SYNC | SQLite Error 19: 'NOT NULL constraint failed: GenreShow.GenresId'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'  --> JOBS
2. Click o